
@{
    ViewBag.Title = "PMA+";
    Layout = "~/Areas/Player/Views/Shared/_AdminLayout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Profile</h2>
        <ol class="breadcrumb">
            <li>
                <a>Home</a>
            </li>            
            <li class="active">
                <strong>Profile</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content" ng-controller="PlayerProfileController" ng-cloak>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Profile</h5>
                </div>
                <div class="ibox-content">
                    <form name="myform" class="form-horizontal" novalidate>
                        <div class="form-group" ng-class="{'has-error':myform.playaerName.$invalid && (myform.playaerName.$dirty||myform.form_Submitted)}">
                            <label class="col-lg-4 title-modal" style="font-size: 15px;">First Name:</label>
                            <div class="col-lg-7 pull-right">
                                <input name="playaerName" ng-model="newPlayer.firstName" required class="form-control" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error':myform.playerLast.$invalid && (myform.playerLast.$dirty||myform.form_Submitted)}">
                            <label class="col-lg-4 title-modal" style="font-size: 15px;">Last Name:</label>
                            <div class="col-lg-7 pull-right">
                                <input name="playerLast" ng-model="newPlayer.lastName" required class="form-control" maxlength="50">
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <label class="col-lg-4 title-modal" style="font-size: 15px;">User Status:</label>
                            <div class="col-lg-7 pull-right">
                                <select ng-model="newPlayer.userStatus" ng-options="status.id as status.name for status in statuses | orderBy:'name'" class=" form-control m-b" name="account"></select>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error':myform.playerEmail.$invalid && (myform.playerEmail.$dirty||myform.form_Submitted)}">
                            <label class="col-lg-4 title-modal" style="font-size: 15px;">Email:</label>
                            <div class="col-lg-7 pull-right">
                                <input name="playerEmail" ng-model="newPlayer.email" required class="form-control" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error':myform.playerPassword.$invalid && (myform.playerPassword.$dirty||myform.form_Submitted)}">
                            <label class="col-lg-4 title-modal" style="font-size: 15px;">Password:</label>
                            <div class="col-lg-7 pull-right">
                                <input name="playerPassword" ng-model="newPlayer.password" required class="form-control" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 title-modal" style="font-size: 15px;">Telephone:</label>
                            <div class="col-lg-7 pull-right">
                                <input ng-model="newPlayer.telephone" class="form-control" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 title-modal" style="font-size: 15px;">Mobile:</label>
                            <div class="col-lg-7 pull-right">
                                <input name="courseName" ng-model="newPlayer.mobile" class="form-control" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 title-modal" style="font-size: 15px;">FA Number:</label>
                            <div class="col-lg-7 pull-right">
                                <input name="courseName" ng-model="newPlayer.faNumber" class="form-control" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 title-modal" style="font-size: 15px;">Birth Date:</label>
                            <div class="col-lg-7 pull-right">
                                <datetimepicer name="courseName" ng-model="newPlayer.birthDate" class="form-control" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 title-modal" style="font-size: 15px;">Playing Foot:</label>
                            <div class="col-lg-7 pull-right">
                                <select ng-model="newPlayer.playingFoot" ng-options="foot.id as foot.name for foot in playingFoot | orderBy:'name'" class=" form-control m-b" name="account"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 title-modal" style="font-size: 15px;">Profile Picture:</label>
                            <div class="col-lg-7 pull-right">
                                <div class="thumbnail" ng-show="newPlayer.profilePicture != null" style="width: auto;float: none !important;margin-bottom: 5px;">
                                    <img ng-src='/api/file/ProfilePicture/{{newPlayer.profilePicture}}/{{newPlayer.id}}' style=" width: auto;float: none !important;" />
                                </div> 
                                <input file-model="pic" type="file" accept="image/*" class="pma-fileupload">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 title-modal" style="font-size: 15px;">Nationality:</label>
                            <div class="col-lg-7 pull-right">
                                <input name="courseName" ng-model="newPlayer.nationality" class="form-control" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 title-modal" style="font-size: 15px;">Address 1:</label>
                            <div class="col-lg-7 pull-right">
                                <input name="courseName" ng-model="newPlayer.address1" class="form-control" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 title-modal" style="font-size: 15px;">Address 2:</label>
                            <div class="col-lg-7 pull-right">
                                <input name="courseName" ng-model="newPlayer.address2" class="form-control" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 title-modal" style="font-size: 15px;">Address 3:</label>
                            <div class="col-lg-7 pull-right">
                                <input name="courseName" ng-model="newPlayer.address3" class="form-control" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 title-modal" style="font-size: 15px;">Town\City:</label>
                            <div class="col-lg-7 pull-right">
                                <input name="courseName" ng-model="newPlayer.townCity" class="form-control" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 title-modal" style="font-size: 15px;">Post Code:</label>
                            <div class="col-lg-7 pull-right">
                                <input name="courseName" ng-model="newPlayer.postcode" class="form-control" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 title-modal" style="font-size: 15px;">Parents First Name:</label>
                            <div class="col-lg-7 pull-right">
                                <input name="courseName" ng-model="newPlayer.parentsFirstName" class="form-control" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 title-modal" style="font-size: 15px;">Parents Last Name:</label>
                            <div class="col-lg-7 pull-right">
                                <input name="courseName" ng-model="newPlayer.parentsLastName" class="form-control" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 title-modal" style="font-size: 15px;">Parents Contact Number:</label>
                            <div class="col-lg-7 pull-right">
                                <input name="courseName" ng-model="newPlayer.parentsContactNumber" class="form-control" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 title-modal" style="font-size: 15px;">Player Health Conditions:</label>
                            <div class="col-lg-7 pull-right">
                                <input name="courseName" ng-model="newPlayer.playerHealthConditions" class="form-control" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 title-modal" style="font-size: 15px;">School Name:</label>
                            <div class="col-lg-7 pull-right">
                                <input name="courseName" ng-model="newPlayer.schoolName" class="form-control" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 title-modal" style="font-size: 15px;">School Telephone:</label>
                            <div class="col-lg-7 pull-right">
                                <input name="courseName" ng-model="newPlayer.schoolTelephone" class="form-control" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 title-modal" style="font-size: 15px;">School Contact Name:</label>
                            <div class="col-lg-7 pull-right">
                                <input name="courseName" ng-model="newPlayer.schoolContactName" class="form-control" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 title-modal" style="font-size: 15px;">School Contact Email:</label>
                            <div class="col-lg-7 pull-right">
                                <input name="courseName" ng-model="newPlayer.schoolContactEmail" class="form-control" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 title-modal" style="font-size: 15px;">Address 1:</label>
                            <div class="col-lg-7 pull-right">
                                <input name="courseName" ng-model="newPlayer.schoolAddress1" class="form-control" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 title-modal" style="font-size: 15px;">Address 2:</label>
                            <div class="col-lg-7 pull-right">
                                <input name="courseName" ng-model="newPlayer.schoolAddress2" class="form-control" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 title-modal" style="font-size: 15px;">Town\City:</label>
                            <div class="col-lg-7 pull-right">
                                <input ng-model="newPlayer.schoolTownCity" class="form-control" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 title-modal" style="font-size: 15px;">Postcode:</label>
                            <div class="col-lg-7 pull-right">
                                <input ng-model="newPlayer.schoolPostcode" class="form-control" maxlength="50">
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                       
                        <button ng-click="save()" id="saveModal" type="button" ng-disabled="laddaLoading" class="ladda-button btn btn-primary" ladda-button="loginLoading" data-style="expand-right" data-size="s" style="background-color:@ViewBag.them;">
                            <span class="ladda-label" style="font-size: 14px;">Save changes</span>
                        </button>
                    </div>
                </div>
                @*Modal*@
                <div class="modal inmodal" id="confirmModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content animated bounceInRight">
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h3 class="modal-title">Save Report</h3>


                            </div>
                            <div class="modal-body">
                                <h3 class="text-center">Are you sure you wish to save this record?</h3>
                            </div>
                            <div class="modal-footer">
                                <button ng-click="cancel()" type="button" class="btn btn-white">No</button>
                                <button ng-click="okay(newPlayer.id)" type="button" class="btn btn-primary">Yes</button>
                            </div>
                        </div>
                    </div>
                </div>
                @*Modal End*@
            </div>
        </div>
    </div>


</div>

@section scripts{
    
<script src="~/Scripts/controllers/ProfileController.js"></script>
    }