
@{
    ViewBag.Title = "PMA+";
    Layout = "~/Areas/Scouts/Views/Shared/_AdminLayout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Profile</h2>
        <ol class="breadcrumb">
            <li>
                <a>Home</a>
            </li>            
            <li class="active">
                <strong>Profile</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content" ng-controller="TrainingTeamController" ng-cloak>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Profile</h5>
                </div>
                <div class="ibox-content">
                    <form name="myform" class="form-horizontal" novalidate>
                        <div class="form-group " ng-class="{'has-error':myform.firstName.$invalid && (myform.firstName.$dirty||myform.form_Submitted) }">
                            <label class="col-lg-4 title-modal">First Name: </label>
                            <div class="col-lg-7 pull-right">
                                <input name="firstName" ng-model="newClub.name" required class="form-control">
                            </div>
                        </div>
                        <div class="form-group " ng-class="{'has-error':myform.lastName.$invalid && (myform.lastName.$dirty||myform.form_Submitted) }">
                            <label class="col-lg-4 title-modal">Last Name: </label>
                            <div class="col-lg-7 pull-right">
                                <input name="lastName" ng-model="newClub.name" required class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 title-modal">About Me:</label>
                            <div class="col-lg-7 pull-right">
                                <textarea ng-model="newClub.aboutMe" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error':myform.telephone.$invalid && (myform.telephone.$dirty||myform.form_Submitted)}">
                            <label class="col-lg-4 title-modal">Telephone:</label>
                            <div class="col-lg-7 pull-right">
                                <input name="telephone" ng-model="newClub.telephone" class="form-control" ng-pattern="/[0-9]\d{5}(\d{3})?/" maxlength="12">
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error':myform.mobile.$invalid && (myform.mobile.$dirty||myform.form_Submitted)}">
                            <label class="col-lg-4 title-modal">Mobile:</label>
                            <div class="col-lg-7 pull-right">
                                <input name="mobile" ng-model="newClub.mobile" class="form-control" ng-pattern="/[0-9]\d{5}(\d{3})?/" maxlength="12">
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error':myform.email.$invalid && (myform.email||myform.form_Submitted)}">
                            <label class="col-lg-4 title-modal">Email:</label>
                            <div class="col-lg-7 pull-right">
                                <input name="email" ng-model="newClub.email" required class="form-control">

                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error':myform.profPassword.$invalid && (myform.profPassword.$dirty||myform.form_Submitted)}">
                            <label class="col-lg-4 title-modal">Password:</label>
                            <div class="col-lg-7 pull-right">
                                <input name="profPassword" ng-model="newClub.profPassword" required class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 title-modal">FA Number:</label>
                            <div class="col-lg-7 pull-right">
                                <input ng-model="newMember.faNumber" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 title-modal">Birth Date:</label>
                            <div class="col-lg-7 pull-right">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#" href="#">
                                        <div class="input-group">
                                            <input type="text" class="form-control" value="{{newMember.birthDate | date:'dd-MM-yyyy' }}"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="newMember.birthDate" data-datetimepicker-config="{ dropdownSelector: '#dropdown1', startView:'day', minView:'day' }" />
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 title-modal">Profile Picture:</label>
                            <div class="col-lg-7 pull-right">
                                <input file-model="pic" type="file" accept="image/*" class="pma-fileupload">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 title-modal">Nationality:</label>
                            <div class="col-lg-7 pull-right">
                                <input ng-model="newMember.nationality" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 title-modal">Address 1:</label>
                            <div class="col-lg-7 pull-right">
                                <input ng-model="newMember.address1" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 title-modal">Address 2:</label>
                            <div class="col-lg-7 pull-right">
                                <input ng-model="newMember.address2" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 title-modal">Address 3:</label>
                            <div class="col-lg-7 pull-right">
                                <input ng-model="newMember.address3" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 title-modal">Town City:</label>
                            <div class="col-lg-7 pull-right">
                                <input ng-model="newMember.townCity" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 title-modal">Post Code:</label>
                            <div class="col-lg-7 pull-right">
                                <input ng-model="newMember.postcode" class="form-control" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button ng-click="ok(newClub.id)" id="saveModal" type="button" ng-disabled="laddaLoading" class="ladda-button btn btn-primary" ladda-button="loginLoading" data-style="expand-right" data-size="s" style="background-color:@ViewBag.them;">
                                <span class="ladda-label" style="font-size: 14px;">Save changes</span>
                            </button>
                        </div>

                </div>

            </div>
        </div>

    </div>
</div>

