<div class="footer">
    <div class="pull-right">
        
    </div>
    <div style="font-size: 12px">
        &copy; Copyright <strong>PMA<sup>+</sup></strong> v1.00 - 2001-@DateTime.Now.Year - All Rights Reserved 
    </div>
</div>
