@using System.Collections.Concurrent
@using PmaPlus.Models
@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
}

<h3>Forgot login details for PMA+</h3>

<p>Simply enter your email address and if we find an account with your email we will send the password to you. If no account is found then please speak to the club or the contact us button below.</p>
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "m-t", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email" })
    </div>

    <button type="submit" class="btn btn-primary block full-width m-b">Send</button>

    <a class="btn btn-sm btn-white btn-block" href="@Url.Action("Login","Account",new{area=""})">Back to Login Page</a>

    <p class="text-muted text-center"><small>Do not have an account?</small></p>
    <a class="btn btn-sm btn-white btn-block" href="#">Contact Us</a>
    if (!ViewData.ModelState.IsValid)
    {
        <script>
                 $(document).ready(function () {

                         toastr.options = {
                             closeButton: true,
                             debug: false,
                             progressBar: false,
                             positionClass: "toast-top-full-width",
                             onclick: null,
                             showDuration: 400,
                             hideDuration: 1000,
                             timeOut: 7000,
                             extendedTimeOut: 1000,
                             showEasing: "swing",
                             hideEasing: "linear",
                             showMethod: "fadeIn",
                             hideMethod: "fadeOut"
                         }
                         toastr.error('@ViewData.ModelState["emailValid"].Errors.FirstOrDefault().ErrorMessage', 'Unsuccessful');


                 });
        </script>
    }
}
