@{
    ViewBag.Title = "Index";
}




<div class="col-lg-9" ng-controller="MessageWallController">
    @*Modal*@
    <div class="modal inmodal" id="addMessage" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title text-left">{{modalTitle}}</h3>
                </div>
                <div class="modal-body">
                    <form name="myform" class="form-horizontal" novalidate>
                        <div class="form-group">
                            <label class="col-lg-4 title-modal">Message:</label>
                            <div class="col-lg-7 pull-right">
                                <input ng-model="newMessage.message" required class="form-control" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 title-modal">Picture:</label>
                            <div class="col-lg-7 pull-right">
                                <input file-model="messagePic" name="itempictureName" type="file" class="pma-fileupload">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button ng-click="cancel()" id="closeModal" type="button" class="btn btn-white">Close</button>
                    <button ng-click="sendMessage()" id="saveModal" ng-disabled="laddaLoading" type="button" class="ladda-button btn btn-primary" ladda-button="loginLoading" data-style="expand-right" data-size="s" style="background-color:@ViewBag.them;">
                        <span class="ladda-label" style="font-size: 14px;">Send</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    @*Modal End*@
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Message Wall</h5>
            <div class="ibox-tools">
                <a class="btn btn-primary" style="font-size: 10px;" ng-click="openMessage()"><i class="fa fa-envelope-o"></i> Send Message</a>
            </div>
        </div>
        <div class="ibox-content">
            <div>
                <div class="feed-activity-list">
                    <div class="feed-element" ng-repeat="msg in message">
                        <div style="width: 60px; height: 60px; position: relative; overflow: hidden; border-radius: 50%; border: solid #ebebed;" class="img-circle pull-left">
                            <img class="prifile" ng-src="{{msg.userAva}}" style-parent/>
                        </div>
                        <div class="media-body ">
                            <small class="pull-right text-navy" style="font-size: 12px;">{{msg.sendAt | date:'HH:mm - dd.MM.yyyy' }}</small>
                            <strong style="font-size: 14px;">{{msg.userName}}</strong><br>
                            <small class="text-muted"></small>
                            <div class="well" style="font-size: 12px;">
                                {{msg.message}} <br />
                                <img style="width: 100%;" ng-show="msg.image != null" ng-src="/api/file/MessageWall/{{msg.image}}" />
                            </div>
                            <hr style="width: 100%; color: #E5E6E7; height: 1px; background-color: #E5E6E7; margin-top: 5px; margin-bottom: 5px;"/>
                            <div class="row" style="margin-left: 5px; margin-right: 5px;">
                                <div class="pull-left">
                                    <a class="btn btn-xs btn-white" ng-click="rateMessage(msg.id, true)"><i class="fa fa-thumbs-up"></i></a>
                                    <a class="btn btn-xs btn-white" ng-click="rateMessage(msg.id, false)"><i class="fa fa-thumbs-down"></i></a>
                                </div>
                                <div class="pull-right">
                                    <a class="btn btn-xs btn-white" ng-click="showComments($index)">{{msg.comments.length}} - Comments</a>
                                    <a class="btn btn-xs btn-white" ng-click="showLike($index)">{{msg.ratingPositive.length}} - Like</a>
                                    <a class="btn btn-xs btn-white" ng-click="showDislike($index)">{{msg.ratingNegative.length}} - Dislike</a>
                                </div>
                            </div>

                            @*Comments*@
                            <div class="row" style="margin-left: 5px; margin-right: 5px;" ng-init="statmentsRev[$index].comments = true" ng-show="statmentsRev[$index].comments">
                                <div ng-repeat="singlecomment in msg.comments" class="row" style="margin-left: 0px; margin-right: 5px;">
                                    <div style="width: 40px; height: 40px; position: relative; overflow: hidden; border-radius: 50%; border: solid #ebebed;" class="img-circle pull-left">
                                        <img alt="image" class="prifile" ng-src="{{singlecomment.userAva}}" style-parent/>
                                    </div>
                                    <small class="pull-right text-navy"></small>
                                    <strong>{{singlecomment.userName}}</strong><br>
                                    <small class="text-muted">{{singlecomment.sendAt | date:'HH:mm - dd.MM.yyyy' }}</small>
                                    <div class="col-lg-11 well">
                                        {{singlecomment.comment}}
                                    </div>
                                </div>
                                <div style="width: 40px; height: 40px; position: relative; overflow: hidden; border-radius: 50%; border: solid #ebebed;" class="img-circle pull-left">
                                    <img alt="image" class="prifile" ng-src="{{currentUser.picture}}" style-parent/>
                                </div>
                                <div class="col-lg-10">
                                    <input ng-model="tmpComment[$index].comment" type="text" class="form-control">
                                </div>
                                <div class="col-lg-1">
                                    <button class="btn btn-primary" ng-click="sendComment(msg.id, $index)"><strong>Send</strong></button>
                                </div>
                            </div>

                            @*Like*@
                            <div class="row" style="margin-left: 5px; margin-right: 5px;" ng-init="statmentsRev[$index].like = false" ng-show="statmentsRev[$index].like">
                                <div ng-repeat="singlePositive in msg.ratingPositive" class="row" style="margin-left: 0px; margin-right: 5px;">
                                    <div style="width: 40px; height: 40px; position: relative; overflow: hidden; border-radius: 50%; border: solid #ebebed;" class="img-circle pull-left">
                                        <img alt="image" class="prifile" ng-src="{{singlePositive.userAva}}" style-parent/>
                                    </div>
                                    <small class="pull-right text-navy"></small>
                                    <strong>{{singlePositive.userName}}</strong><br>
                                    <small class="text-muted"></small>
                                </div>
                            </div>

                            @*Dislike*@
                            <div class="row" style="margin-left: 5px; margin-right: 5px;" ng-init="statmentsRev[$index].dislike = false" ng-show="statmentsRev[$index].dislike">
                                <div ng-repeat="singleNegative in msg.ratingNegative" class="row" style="margin-left: 0px; margin-right: 5px;">
                                    <div style="width: 40px; height: 40px; position: relative; overflow: hidden; border-radius: 50%; border: solid #ebebed;" class="img-circle pull-left">
                                        <img alt="image" class="prifile" ng-src="{{singleNegative.userAva}}" style-parent/>
                                    </div>
                                    <small class="pull-right text-navy"></small>
                                    <strong>{{singleNegative.userName}}</strong><br>
                                    <small class="text-muted"></small>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="row" ng-hide="isLastPage">
                    <div class="col-lg-11">
                        <button class="btn btn-primary btn-block m"><i class="fa fa-arrow-down"></i> Show More</button>
                    </div>

                </div>
                
            </div>

        </div>
    </div>
</div>
<style>
    img.prifile {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }

    img.landscape {
        height: 100%;
        width: auto;
    }

    img.portrait {
        width: 100%;
        height: auto;
    }
</style>
