<div ng-cloak>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Fitness</h2>
            <ol class="breadcrumb">
                <li>
                    <a>Home</a>
                </li>
                <li class="active">
                    <strong>Fitness</strong>
                    
                </li>
            </ol>
        </div>
        <h1 class="col-lg-2 pull-right" style="font-size: 24px; color: red; text-align: right; padding-top: 12px;">Coming 2015</h1>
    </div>

    <div class="row">

        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInUp">
                
            </div>
        </div>
    </div>
</div>

<style>
    .image {
        position: relative;
        width: 100%; /* for IE 6 */
    }   
    </style>



