<div ng-cloak>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Fitness</h2>
            <ol class="breadcrumb">
                <li>
                    <a>Home</a>
                </li>
                <li class="active">
                    <strong>Fitness</strong>
                </li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="ibox-content">   
                    <div class="image">                             
                    <img style="width: 100%" src="~/Images/fitness.jpg" />
                    <h1 style="position: absolute; top: 200px; left: 50px; width: 100%; ">Coming Soon</h1>
                    </div>               
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .image {
        position: relative;
        width: 100%; /* for IE 6 */
    }   
    </style>



