<div ng-cloak>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Nutrition</h2>
            <ol class="breadcrumb">
                <li>
                    <a>Home</a>
                </li>
                <li class="active">
                    <strong>Nutrition</strong>
                </li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="ibox-content" style="padding-bottom: 200px;">
                    <h1 style="text-align: center; color: rgb(190, 190, 190);"><br/><br /><br /><br /><br />Coming Soon</h1>
                </div>
        </div>
    </div>
</div>



