<div ng-cloak>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Wellbeing</h2>
            <ol class="breadcrumb">
                <li>
                    <a>Home</a>
                </li>
                <li class="active">
                    <strong>Wellbeing</strong>
                </li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="ibox-content">
                    <div class="image">
                       
                        <img style="width: 100%" src="~/Images/welbeing.jpg" />
                        <h1 style="position: absolute; top: 500px; left: 780px; width: 100%; color:darkgray; ">Coming Soon</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




