<div ng-controller="WizardPage3endController" ng-cloak>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Match Details</h5>
                </div>
                <div class="table-responsive">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-9 m-b-xs">
                            </div>
                        </div>
                        <form name="matchDetailsForm" class="form-horizontal" novalidate>
                            <div class="form-group" >
                                <label class="col-lg-4 title-modal" style="font-size: 13px;">Goals For:</label> <div class="col-lg-7 pull-right">
                              <input ng-disabled="cuurrentMatch.archived"  type="number" ng-model="$parent.cuurrentMatch.goalsFor" class="form-control">
                                </div>
                            </div>

                            <div class="form-group" >
                                <label class="col-lg-4 title-modal" style="font-size: 13px;">Goals Away:</label>
                                <div class="col-lg-7 pull-right">
                                    <input ng-disabled="cuurrentMatch.archived" type="number" ng-model="$parent.cuurrentMatch.goalsAway" required class="form-control">
                                </div>
                            </div>

                            <div class="form-group" ng-class="{'has-error':matchDetailsForm.periods.$invalid && (matchDetailsForm.periods.$dirty||matchDetailsForm.form_Submitted)}">
                                <label class="col-lg-4 title-modal" style="font-size: 13px;">Periods:</label>
                                <div class="col-lg-7 pull-right">
                                    <input ng-disabled="cuurrentMatch.archived" name="periods" ng-model="$parent.cuurrentMatch.periods" type="number" required class="form-control" min="1">
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':matchDetailsForm.perDuration.$invalid && (matchDetailsForm.perDuration.$dirty||matchDetailsForm.form_Submitted)}">
                                <label class="col-lg-4 title-modal" style="font-size: 13px;">Period Duration:</label>
                                <div class="col-lg-7 pull-right">
                                    <input ng-disabled="cuurrentMatch.archived" name="perDuration" ng-model="$parent.cuurrentMatch.periodDuration" type="number" required class="form-control" min="1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 title-modal" style="font-size: 13px;">Duration:</label>
                                <div class="col-lg-7 pull-right">
                                    <input ng-disabled="cuurrentMatch.archived" type="number" ng-model="cuurrentMatch.periods * cuurrentMatch.periodDuration"  class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 title-modal" style="font-size: 13px;">Picture:</label>
                                <div class="col-lg-7 pull-right">
                                    <div class="thumbnail" ng-show="cuurrentMatch.picture != null" style="width: auto; float: none !important;margin-bottom: 5px;">
                                        <img ng-src="/api/file/MatchReportPictures/{{cuurrentMatch.picture}}/{{cuurrentMatch.id}}" style=" width:auto; float:none !important;" />
                                    </div>
                                    <div ng-show="!cuurrentMatch.archived">
                                        <input file-model="pic" type="file" accept="image/*" class="pma-fileupload">
                                    </div>
                                </div>
                            </div>
                        </form>
                      
                    </div>
                </div>
             
            </div>

        </div>
    </div>
</div>
