
<div ng-controller="WizardPage4Controller" ng-cloak>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Player Ratings & Statistics</h5>

                </div>
                <div class="ibox-content">
                    @*Modal*@
                    <div class="modal inmodal" id="confInvitet" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content animated bounceInRight">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h3 class="modal-title text-left">{{modalTitle}}</h3>
                                </div>
                                <div class="modal-body">
                                    <form name="myform" class="form-horizontal" novalidate>
                                        <div class="form-group" ng-class="{'has-error':myform.crossing.$invalid && (myform.crossing.$dirty||myform.form_Submitted)}">
                                            <label class="col-lg-4 title-modal">Player Name:</label>
                                            <div class="col-lg-7 pull-right">
                                                <input name="crossing" ng-model="player.playerName" class="form-control">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group" >
                                            <label class="col-lg-4 title-modal">Man of Match:</label>
                                            <div class="col-lg-7 pull-right">
                                                <input toggle-checkbox name="crossing" type="checkbox" ng-model ="player.mom" >
                                            </div>
                                        </div>

                                        <div class="form-group" ng-class="{'has-error':myform.crossing.$invalid && (myform.crossing.$dirty||myform.form_Submitted)}">
                                            <label class="col-lg-4 title-modal">Goals:</label>
                                            <div class="col-lg-7 pull-right">
                                                <input name="crossing" ng-model="player.goals" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error':myform.crossing.$invalid && (myform.crossing.$dirty||myform.form_Submitted)}">
                                            <label class="col-lg-4 title-modal">Shots:</label>
                                            <div class="col-lg-7 pull-right">
                                                <input name="crossing" ng-model="player.shots" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error':myform.crossing.$invalid && (myform.crossing.$dirty||myform.form_Submitted)}">
                                            <label class="col-lg-4 title-modal">Shots on Target:</label>
                                            <div class="col-lg-7 pull-right">
                                                <input name="crossing" ng-model="player.shotsOnTarget" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error':myform.crossing.$invalid && (myform.crossing.$dirty||myform.form_Submitted)}">
                                            <label class="col-lg-4 title-modal">Assists:</label>
                                            <div class="col-lg-7 pull-right">
                                                <input name="crossing" ng-model="player.assists" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error':myform.crossing.$invalid && (myform.crossing.$dirty||myform.form_Submitted)}">
                                            <label class="col-lg-4 title-modal">Takles:</label>
                                            <div class="col-lg-7 pull-right">
                                                <input name="crossing" ng-model="player.tackles" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error':myform.crossing.$invalid && (myform.crossing.$dirty||myform.form_Submitted)}">
                                            <label class="col-lg-4 title-modal">Passes:</label>
                                            <div class="col-lg-7 pull-right">
                                                <input name="crossing" ng-model="player.passes" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error':myform.crossing.$invalid && (myform.crossing.$dirty||myform.form_Submitted)}">
                                            <label class="col-lg-4 title-modal">Saves:</label>
                                            <div class="col-lg-7 pull-right">
                                                <input name="crossing" ng-model="player.saves" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error':myform.crossing.$invalid && (myform.crossing.$dirty||myform.form_Submitted)}">
                                            <label class="col-lg-4 title-modal">Corners:</label>
                                            <div class="col-lg-7 pull-right">
                                                <input name="crossing" ng-model="player.corners" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error':myform.crossing.$invalid && (myform.crossing.$dirty||myform.form_Submitted)}">
                                            <label class="col-lg-4 title-modal">Free Kicks:</label>
                                            <div class="col-lg-7 pull-right">
                                                <input name="crossing" ng-model="player.freeKicks" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error':myform.formRating.$invalid && (myform.formRating.$dirty||myform.form_Submitted)}">
                                            <label class="col-lg-4 title-modal">Form Rating(1-10):</label>
                                            <div class="col-lg-7 pull-right">
                                                <input name="formRating" type="number" ng-model="player.formRating" class="form-control" required min="0" max="10">
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error':myform.playingTime.$invalid && (myform.playingTime.$dirty||myform.form_Submitted)}">
                                            <label class="col-lg-4 title-modal">Playing Time:</label>
                                            <div class="col-lg-7 pull-right">
                                                <input name="playingTime" type="number"  ng-model="player.playingTime" class="form-control" required>
                                            </div>
                                        </div>


                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button ng-click="closeDetails()" id="closeModal" type="button" class="btn btn-white">Close</button>
                                    <button ng-click="addPlayerStat()" id="saveModal" type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*Modal End*@

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Picture</th>
                                    <th>Player Name</th>
                                    <th>MOM</th>
                                    <th>GLS</th>
                                    <th>SHO</th>
                                    <th>SHT</th>
                                    <th>ASI</th>
                                    <th>TCK</th>
                                    <th>PAS</th>
                                    <th>SAV</th>
                                    <th>CRN</th>
                                    <th>FRK</th>
                                    <th>FRM</th>
                                    <th>PT</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="player in playersStat">
                                    <td>
                                        <div style="width: 50px; height: 50px; position: relative; overflow: hidden; border-radius: 50%;" class="img-circle pull-left">
                                            <img class="prifile" ng-src="{{player.playerPicture}}" style-parent />
                                        </div>
                                    </td>
                                    <td>{{player.playerName}}</td>
                                    <td>{{player.mom ? 'Yes' : 'No'}}</td>
                                    <td>{{player.goals}}</td>
                                    <td>{{player.shots}}</td>
                                    <td>{{player.shotsOnTarget}}</td>
                                    <td>{{player.assists}}</td>
                                    <td>{{player.tackles}}</td>
                                    <td>{{player.passes}}</td>
                                    <td>{{player.saves}}</td>
                                    <td>{{player.corners}}</td>
                                    <td>{{player.freeKicks}}</td>
                                    <td>{{player.formRating}}</td>
                                    <td>{{player.playingTime}}</td>
                                    <th>
                                        <a ng-click="openEdit1(player)" class="fa fa-graduation-cap" style="cursor: pointer;"></a>
                                    </th>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
</div>
