<div ng-controller="WizardPage3endController" ng-cloak>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Match Details</h5>

                </div>
                <div class="table-responsive">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-9 m-b-xs">

                            </div>
                        </div>
                        <form name="myform" class="form-horizontal" novalidate>

                            <div class="form-group" ng-class="{'has-error':myform.eventNote.$invalid && (myform.eventNote.$dirty||myform.form_Submitted)}">
                                <label class="col-lg-4 title-modal" style="font-size: 13px;">Goals For:</label> <div class="col-lg-7 pull-right">
                                    <input ng-disabled="cuurrentMatch.archived" name="sessionDuration" type="number" ng-model="matchDetails.goalsFor" class="form-control" min="0">
                                </div>
                            </div>

                            <div class="form-group" ng-class="{'has-error':myform.eventNote.$invalid && (myform.eventNote.$dirty||myform.form_Submitted)}">
                                <label class="col-lg-4 title-modal" style="font-size: 13px;">Goals Away:</label>
                                <div class="col-lg-7 pull-right">
                                    <input ng-disabled="cuurrentMatch.archived" name="playersLists" type="number" ng-model="matchDetails.goalsAway" required class="form-control" min="0">
                                </div>
                            </div>

                            <div class="form-group" ng-class="{'has-error':myform.eventNote.$invalid && (myform.eventNote.$dirty||myform.form_Submitted)}">
                                <label class="col-lg-4 title-modal" style="font-size: 13px;">Periods:</label>
                                <div class="col-lg-7 pull-right">
                                    <input ng-disabled="cuurrentMatch.archived" name="playersOutcome" ng-model="matchDetails.periods" type="number" required class="form-control" min="0">
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':myform.eventNote.$invalid && (myform.eventNote.$dirty||myform.form_Submitted)}">
                                <label class="col-lg-4 title-modal" style="font-size: 13px;">Period Duration:</label>
                                <div class="col-lg-7 pull-right">
                                    <input ng-disabled="cuurrentMatch.archived" name="playersOutcome" ng-model="matchDetails.periodDuration" type="number" required class="form-control" min="0">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 title-modal" style="font-size: 13px;">Picture:</label>
                                <div class="col-lg-7 pull-right">
                                    <div class="thumbnail" ng-show="matchDetails.picture != null" style="width: auto; float: none !important;margin-bottom: 5px;">
                                        <img ng-src="/api/file/MatchReportPictures/{{matchDetails.picture}}/{{matchDetails.id}}" style=" width:auto; float:none !important;" />
                                    </div>
                                    <div ng-if="!cuurrentMatch.archived">

                                        <input file-model="pic" type="file" accept="image/*" class="pma-fileupload">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 title-modal" style="font-size: 13px;">Duration:</label>
                                <div class="col-lg-7 pull-right">
                                    <input ng-disabled="cuurrentMatch.archived" name="playersOutcome" type="number" value="{{matchDetails.periods * matchDetails.periodDuration}}" class="form-control">
                                </div>
                            </div>
                        </form>
                        @*<div class="modal-footer">                           
                            <button ng-click="confirmModal1()" id="save" type="button" class="btn btn-primary">Save changes</button>
                        </div>*@
                    </div>
                </div>
                @*Modal*@
                <div class="modal inmodal" id="confConfirm1" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content animated bounceInRight">
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h3 class="modal-title">Save Changes</h3>


                            </div>
                            <div class="modal-body">
                                <h3 class="text-center">Are you sure you wish to save this changes?</h3>
                            </div>
                            <div class="modal-footer">
                                <button ng-click="confirmCancel()" type="button" class="btn btn-white">No</button>
                                <button ng-click="addMatchDetails()" type="button" class="btn btn-primary">Yes</button>
                            </div>
                        </div>
                    </div>
                </div>
                @*Modal End*@
            </div>

        </div>
    </div>
</div>
