<div ng-controller="WizardPage3Controller" ng-cloak>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Match Outcome</h5>

                </div>
                <div class="table-responsive">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-9 m-b-xs">

                            </div>
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="text-align:left; padding-left: 26px;">Picture</th>
                                    <th style="text-align:left; width:200px">Player Name</th>
                                    <th style="text-align:left; width:45%">Objective</th>
                                    <th style="text-align:left; width:23%">Outcome</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="playersLists in playersList">
                                    <td style="width: 80px;">
                                        <div style="width: 80px; height: 80px; position: relative; overflow: hidden; border-radius: 50%;" class="img-circle pull-left">
                                            <img class="prifile" ng-src="{{playersLists.playerPicture}}" style-parent />
                                        </div>
                                    </td>
                                    <td style="text-align:left">{{playersLists.playerName}}</td>
                                    <td style="text-align:left">{{playersLists.objective}}</td>
                                    <td style="text-align:left"><select ng-disabled="cuurrentMatch.archived" class="form-control" ng-model="playersLists.outcome" ng-options="out.value as out.name for out in [{value:true,name:'Achieved'},{value:false,name:'Not Achieved'}] | orderBy:'name'"></select></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
