
<div ng-controller="WizardPage4Controller" ng-cloak>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Player Ratings & Statistics</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="text-align:left; padding-left: 26px;">Picture</th>
                                    <th style="text-align:left">Player Name</th>
                                    <th>MOM</th>
                                    <th>GLS</th>
                                    <th>SHO</th>
                                    <th>SHT</th>
                                    <th>ASI</th>
                                    <th>TCK</th>
                                    <th>PAS</th>
                                    <th>SAV</th>
                                    <th>CRN</th>
                                    <th>FRK</th>
                                    <th>PT</th>
                                    <th>FRM</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="player in playersStat">
                                    <td style="width: 80px;">
                                        <div style="width: 80px; height: 80px; position: relative; overflow: hidden; border-radius: 50%;" class="img-circle pull-left">
                                            <img class="prifile" ng-src="{{player.playerPicture}}" style-parent />
                                        </div>
                                    </td>
                                    <td style="text-align:left">{{player.playerName}}</td>
                                    <td><input ng-disabled="cuurrentMatch.archived" toggle-checkbox type="checkbox" ng-model="player.mom" ng-change="updateMom(player)"></td>
                                    <td><input ng-disabled="cuurrentMatch.archived" class="form-control" type="number" ng-model="player.goals" /></td>
                                    <td><input ng-disabled="cuurrentMatch.archived" class="form-control" type="number" ng-model="player.shots" /></td>
                                    <td><input ng-disabled="cuurrentMatch.archived" class="form-control" type="number" ng-model="player.shotsOnTarget" /></td>
                                    <td><input ng-disabled="cuurrentMatch.archived" class="form-control" type="number" ng-model="player.assists" /></td>
                                    <td><input ng-disabled="cuurrentMatch.archived" class="form-control" type="number" ng-model="player.tackles" /></td>
                                    <td><input ng-disabled="cuurrentMatch.archived" class="form-control" type="number" ng-model="player.passes" /></td>
                                    <td><input ng-disabled="cuurrentMatch.archived" class="form-control" type="number" ng-model="player.saves" /></td>
                                    <td><input ng-disabled="cuurrentMatch.archived" class="form-control" type="number" ng-model="player.corners" /></td>
                                    <td><input ng-disabled="cuurrentMatch.archived" class="form-control" type="number" ng-model="player.freeKicks" /></td>
                                    <td><input ng-disabled="cuurrentMatch.archived" class="form-control" type="number" ng-model="player.playingTime" ng-change="checkForMaxDuration(player)" /></td>
                                    <td><select ng-disabled="cuurrentMatch.archived" class="form-control" ng-model="player.formRating" style="width: 70px;" ng-class="{'warnin-textArea':(player.playingTime > 0 && player.formRating < 1)}"><option ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">{{i}}</option></select> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
</div>
