<div ng-controller="WizardPage2Controller" ng-cloak>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Match Objectives vs {{cuurrentMatch.oppositionName}} - {{cuurrentMatch.date | date:'dd-MM-yyyy HH:mm'}}</h5><h5 ng-if="addDate" style="font-weight: 200;"> - Date: {{addDate.time | date:'dd-MM-yyyy'}} Time: {{addDate.time | date:'HH:mm'}} Duration: {{addDate.duration}} </h5>

                </div>
                <div class="table-responsive">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-9 m-b-xs">

                            </div>
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Picture</th>
                                    <th>Player Name</th>
                                    <th>Objective</th>
                                    <th>Outcome</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat ="playersLists in playersList">
                                    <td>
                                        <div style="width: 100px; height: 100px; position: relative; overflow: hidden; border-radius: 50%;" class="img-circle pull-left">
                                            <img class="prifile" ng-src="{{playersLists.playerPicture}}" style-parent />
                                        </div>
                                    </td>
                                    <td>{{playersLists.playerName}}</td>
                                    <td>{{playersLists.objective}}</td>
                                    <td>{{playersLists.outcome ? 'Achieved' : 'Not Achieved'}}</td>
                                    

                                        <td>
                                            <a ng-click="openEdit(playersLists)" class="fa fa-graduation-cap"></a>
                                        </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>

    @*Modal*@
    <div class="modal inmodal" id="confDetail" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title text-left">Set Objective</h3>
                </div>
                <div class="modal-body">
                    <form name="myform" class="form-horizontal" novalidate>

                        <div class="form-group" ng-class="{'has-error':myform.eventNote.$invalid && (myform.eventNote.$dirty||myform.form_Submitted)}">
                            <label class="col-lg-4 title-modal">Player Name:</label>
                            <div class="col-lg-7 pull-right">
                                <input name="sessionDuration" ng-disabled="true" ng-model="playerName" class="form-control">
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error':myform.eventNote.$invalid && (myform.eventNote.$dirty||myform.form_Submitted)}">
                            <label class="col-lg-4 title-modal">Match Objective:</label>
                            <div class="col-lg-7 pull-right">
                                <textarea name="playersLists" ng-model="objective" required class="form-control"></textarea>
                            </div>
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button ng-click="closeDetails()" id="close" type="button" class="btn btn-white">Close</button>
                    <button ng-click="addDetails(player, objective)" id="save" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    @*Modal End*@
</div>
