
@{
    ViewBag.Title = "PMA+";
    Layout = "~/Areas/Physio/Views/Shared/_AdminLayout.cshtml";
}

<div class="sidebard-panel" style="min-height: 1185px;">

    @Html.Partial("~/Views/Partials/_UserAvaterPartial.cshtml")

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>To Do List</h5>
            <div class="ibox-tools">
                <a class="">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <a class="">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content" ng-controller="ToDoController" ng-cloak>
            @*Modal*@
            <div class="modal inmodal" id="confDelete" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content animated bounceInRight">
                        <div class="modal-header">

                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h3 class="modal-title">Delete Record?</h3>


                        </div>
                        <div class="modal-body">
                            <h3 class="text-center">Are you sure you wish to delete this record?</h3>
                        </div>
                        <div class="modal-footer">
                            <button ng-click="cancel()" type="button" class="btn btn-white">No</button>
                            <button ng-click="delete()" type="button" class="btn btn-primary">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
            @*Modal End*@
            <ul class="todo-list small-list">
                <li ng-repeat="item in items | orderBy:'complete'">
                    <a href="#" ng-click="check(item)" class="check-link"><i class="fa {{item.complete | todo :'fa-check-square ':'fa-square-o'}}"></i> </a>
                    <span style="color: gray" class="m-l-xs {{item.completionDateTime | dayExp: '':'text-danger'}} {{item.complete | todo: 'todo-completed':''}}">{{item.title}}</span>
                    <i ng-click="showDelete(item.id)" class="fa fa-trash pull-right" style="cursor: pointer;"></i>
                </li>
            </ul>

        </div>


    </div>
</div>
<div class="wrapper wrapper-content" style="padding-right: 260px !important">

    <div class="row" ng-controller="ClubAdminDashboardController">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Talent Identification</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a>
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div ng-controller="AllPlayerController">
                        <span class="pull-right text-right">
                            <small>Present Score vs Previous 12 months in:  <strong>Doncaster Rovers FC</strong></small>
                            <br>
                            Active Talent ID: {{playerCount}} 
                        </span>
                        <h1 style="margin-bottom: 0px; margin-top: 10px; font-size: 24px">Talent ID</h1>
                        <small>Players Found Per Month </small>

                    </div>
                    <div style="margin-top: 20px;">
                        <canvas tc-chartjs chart-type="line" chart-data="data" chart-options="options" height="70"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4" ng-controller="PlayersBoxController">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <a class="dropdown-toggle pull-right" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <h5>Week Attendance</h5>
                </div>
                <div class="ibox-content" ng-switch on="progressPlayer">
                    <h1 class="no-margins">@*{{amountPlayers}}*@0</h1>
                    <div ng-switch-when="up" class="stat-percent font-bold-small text-success">
                        @*{{percentage}}*@0%&nbsp;<i class="fa fa-arrow-circle-o-up"></i>
                    </div>
                    <div ng-switch-when="down" class="stat-percent font-bold-small text-danger">
                        @*{{percentage}}*@0%&nbsp;<i class="fa fa-arrow-circle-o-down"></i>
                    </div>
                    <div ng-switch-default class="stat-percent font-bold-small text-warning">
                        @*{{percentage}}*@0%&nbsp;<i class="fa fa-arrow-circle-o-left"></i>
                    </div>
                    <small>Last week </small>
                </div>
            </div>
        </div>
        <div class="col-lg-4" ng-controller="CoachsBoxController">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <a class="dropdown-toggle pull-right" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <h5>Quarter Attendance</h5>
                </div>
                <div class="ibox-content" ng-switch on="progressCoach">
                    <h1 class="no-margins">@*{{amountCoaches}}*@0</h1>
                    <div ng-switch-when="up" class="stat-percent font-bold-small text-success">
                        @*{{percentage}}*@0%&nbsp;<i class="fa fa-arrow-circle-o-up"></i>
                    </div>
                    <div ng-switch-when="down" class="stat-percent font-bold-small text-danger">
                        @*{{percentage}}*@0%&nbsp;<i class="fa fa-arrow-circle-o-down"></i>
                    </div>
                    <div ng-switch-default class="stat-percent font-bold-small text-warning">
                        @*{{percentage}}*@0%&nbsp;<i class="fa fa-arrow-circle-o-left"></i>
                    </div>
                    <small>Last week </small>
                </div>
            </div>
        </div>
        <div class="col-lg-4" ng-controller="ClubsBoxController">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <a class="dropdown-toggle pull-right" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <h5>Player Injuries</h5>
                </div>
                <div class="ibox-content" ng-switch on="progressClub">
                    <h1 class="no-margins">@*{{amountClubs}}*@0</h1>
                    <div ng-switch-when="up" class="stat-percent font-bold-small text-success">
                        @*{{percentage}}*@0%&nbsp;<i class="fa fa-arrow-circle-o-up"></i>
                    </div>
                    <div ng-switch-when="down" class="stat-percent font-bold-small text-danger">
                        @*{{percentage}}*@0%&nbsp;<i class="fa fa-arrow-circle-o-down"></i>
                    </div>
                    <div ng-switch-default class="stat-percent font-bold-small text-warning">
                        @*{{percentage}}*@0%&nbsp;<i class="fa fa-arrow-circle-o-left"></i>
                    </div>
                    <small>Last week </small>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{

    <script src="~/Scripts/controllers/UserAvatarController.js"></script>
}
<style>

    .font-bold-small {
        font-family: 'Open Sans';
        font-size: 14px;
        font-weight: 400;
}

    .ibox a {
        color: #c4c4c4;
    }
     a,a:hover {
  color: @ViewBag.them;
  text-decoration: none;
}
     img.prifile {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }

    img.landscape {
        height: 100%;
        width: auto;
    }

    img.portrait {
        width: 100%;
        height: auto;
    }
</style>



