
@{
    ViewBag.Title = "PMA+";
    Layout = "~/Areas/HeadOfAcademy/Views/Shared/_AdminLayout.cshtml";
}

<div ng-controller="CurrDetailsController">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Curriculums</h2>
            <ol class="breadcrumb">
                <li>
                    <a>Home</a>
                </li>
                <li>
                    <a>Curriculum</a>
                </li>
                <li>
                    <a>Curriculums</a>
                </li>
                <li class="active">
                    <strong>Sessions</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-8">
            <div class="title-action">
                <a class="btn btn-primary" ng-href="@Url.Action("Curriculums", "Home", new { area = "HeadOfAcademy" })">Back to Curriculums</a>
                <a class="btn btn-primary" ng-click="open()">Add Detail</a>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Sessions</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user"></ul>
                            <a>
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        @*Modal*@
                        <div class="modal inmodal" id="addCurrDetalModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content animated bounceInRight">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h3 class="modal-title text-left">{{modalTitle}}</h3>
                                    </div>
                                    <div class="modal-body">
                                        <form name="myform" class="form-horizontal" novalidate>
                                            <div class="form-group">
                                                <label class="col-lg-4 title-modal">Name:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input name="currNumber" ng-model="newCurrDet.name" required class="form-control" maxlength="50">
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error':myform.currNumber.$invalid && (myform.currNumber.$dirty||myform.form_Submitted)}">
                                                <label class="col-lg-4 title-modal">Number:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input name="currNumber" type="number" ng-model="newCurrDet.number" required class="form-control" maxlength="50">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4 title-modal">Attendance:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input id="toggleAttendance" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="default">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4 title-modal">Objectives:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input id="toggleObjectives" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="default">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4 title-modal">Rating:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input id="toggleRating" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="default">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4 title-modal">Report:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input id="toggleReport" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="default">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4 title-modal">Objective Report:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input id="toggleObjectiveReport" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="default">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4 title-modal">Coach Details:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input id="toggleCoachDetails" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="default">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4 title-modal">Player Details:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input id="togglePlayerDetails" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="default">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4 title-modal">Start of Review Period:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input id="toggleStartofReviewPeriod" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="default">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4 title-modal">End of Review Period:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input id="toggleEndofReviewPeriod" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="default">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4 title-modal">Coach Picture:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input file-model="picC" type="file" accept="image/*" class="pma-fileupload">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4 title-modal">Coach Details Name:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input id="inpBlocks" ng-model="newCurrDet.coachDetailsName" ng-disabled="inpBlocks" class="form-control" maxlength="50">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4 title-modal">Players Picture:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input file-model="picPF" type="file" accept="image/*" class="pma-fileupload">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4 title-modal">Player Details Name:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input id="inpSessions" ng-model="newCurrDet.playerDetailsName" ng-disabled="inpBlocks" class="form-control" maxlength="50">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4 title-modal">Need Scenarios:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input id="toggleNeedScenarios" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="default">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4 title-modal">Scenarios:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <ui-select multiple ng-model="help.scenarios" ng-disabled="disabled" theme="bootstrap">
                                                        <ui-select-match placeholder="Select Scenarios...">{{$item.name}}</ui-select-match>
                                                        <ui-select-choices repeat="scenario in scenarios">
                                                            <div ng-bind-html="scenario.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                    <div class="modal-footer">
                                        <button ng-click="cancel()" id="closeModal" type="button" class="btn btn-white">Close</button>
                                        <button ng-click="ok(id)" id="saveModal" type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*Modal End*@
                        @*Modal*@
                        <div class="modal inmodal" id="confDelete" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content animated bounceInRight">
                                    <div class="modal-header">

                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h3 class="modal-title">Delete Record?</h3>


                                    </div>
                                    <div class="modal-body">
                                        <h3 class="text-center">Are you sure you wish to delete this record?</h3>
                                    </div>
                                    <div class="modal-footer">
                                        <button ng-click="cancel()" type="button" class="btn btn-white">No</button>
                                        <button ng-click="delete()" type="button" class="btn btn-primary">Yes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*Modal End*@

                        @*Modal*@
                        <div class="modal inmodal" id="photoModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content animated bounceInRight">
                                    <div class="modal-header">

                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h3 class="modal-title">Nutrition Alternatives</h3>
                                    </div>
                                    <div class="modal-body">
                                        <div class="thumbnail">
                                            <img ng-src="/api/file/AlternativeFoods/{{newAlt.badItemPicture}}/{{newAlt.id}}" style="width: auto; float: none !important;" />
                                        </div>
                                        <div class="thumbnail">
                                            <img ng-src="/api/file/AlternativeFoods/{{newAlt.alternativePicture}}/{{newAlt.id}}" style="width: auto;float: none !important;" />
                                        </div>

                                    </div>
                                    <div class="modal-footer">

                                    </div>
                                </div>
                            </div>
                        </div>
                        @*Modal End*@
                        <div class="row">
                            <div class="col-sm-9 m-b-xs">
                                <form class="form-horizontal">
                                    <div class="form-group" style="margin-left: 0px;">
                                        <div data-toggle="buttons" class="btn-group">
                                            <label ng-click="itemsPerPage = 10" class="btn btn-sm btn-white"> <input type="radio" id="option1" name="options"> 10 </label>
                                            <label ng-click="itemsPerPage = 20" class="btn btn-sm btn-white active"> <input type="radio" id="option2" name="options"> 20 </label>
                                            <label ng-click="itemsPerPage = 30" class="btn btn-sm btn-white"> <input type="radio" id="option3" name="options"> 30 </label>
                                        </div>
                                        <div class="btn-group">
                                            <label onclick=" $('.table').tableExport({ type: 'csv', escape: 'false' }); " class="btn btn-sm btn-white">
                                                CSV
                                            </label>
                                            <label onclick=" $('.table').tableExport({ type: 'excel', escape: 'false' }); " class="btn btn-sm btn-white">
                                                Excel
                                            </label>
                                            <label onclick=" $('.table').tableExport({ type: 'pdf', escape: 'false' }); " class="btn btn-sm btn-white">
                                                PDF
                                            </label>
                                            <label onclick=" print($('.table')) " class="btn btn-sm btn-white">
                                                Print
                                            </label>
                                        </div>
                                    </div>
                                </form>

                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input ng-model="q" type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th order-header head="Name" order="name"></th>
                                    <th order-header head="Number" order="number"></th>
                                    <th order-header head="Attendance" order="attendance"></th>
                                    <th order-header head="Objectives" order="objectives"></th>
                                    <th order-header head="Rating" order="rating"></th>
                                    <th order-header head="Report" order="report"></th>
                                    <th order-header head="Start Of Review Period" order="startOfReviewPeriod"></th>
                                    <th order-header head="End Of Review Period" order="endOfReviewPeriod"></th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody id="contentTable">
                                <tr dir-paginate="session in items | filter:q | itemsPerPage: itemsPerPage" total-items="totalCourses">
                                    <td>{{session.name}}</td>
                                    <td>{{session.number}}</td>
                                    <td>{{session.attendance}}</td>
                                    <td>{{session.objectives}}</td>
                                    <td>{{session.rating}}</td>
                                    <td>{{session.report}}</td>
                                    <td>{{session.startOfReviewPeriod}}</td>
                                    <td>{{session.endOfReviewPeriod}}</td>
                                    <td>
                                        <i ng-click="openEdit(session.id)" class="fa fa-cog" style="cursor: pointer;"></i>
                                        <i ng-click="openDelete(session.id)" class="fa fa-trash" style="cursor: pointer;"></i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

