@{
    ViewBag.Title = "PMA+";
    Layout = "~/Areas/HeadOfAcademy/Views/Shared/_AdminLayout.cshtml";
}

<div ng-controller="TalentIdentificationController" ng-cloak>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Talent ID Profile</h2>
            <ol class="breadcrumb">

                <li>
                    <a>Talent Identification</a>
                </li>
                <li class="active">
                    <strong>Profile</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-8">
            <div class="title-action">
                <a class="btn btn-primary" ng-href="@Url.Action("TalentIndefication", "Home", new {area = "HeadOfAcademy"})">Back</a>
                <a class="btn btn-primary" ng-click="invite()">Invite to Club</a>
            </div>
            
        </div>
       
    </div>
    
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="row">

            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Player Details</h5>
                        <div class="ibox-tools">
                            <a @*class="collapse-link"*@>
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a @*class="dropdown-toggle" data-toggle="dropdown" href="#"*@>
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                @*<li>
                                        <a href="#">Config option 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Config option 2</a>
                                    </li>*@
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal line">

                            <div class=" form-group">
                                <label class="col-lg-4 control-label">Player Name:</label>

                                <div class="col-lg-8">
                                    <p class="form-control" style="border: none">{{profileTalents.firstName}} {{profileTalents.lastName}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">Date Identificated:</label>

                                <div class="col-lg-8">
                                    <p class="form-control" style="border: none">{{profileTalents.dateIdentificated | date:'dd-MM-yyyy'}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">Present Club:</label>

                                <div class="col-lg-8">
                                    <p class="form-control" style="border: none">{{profileTalents.presentClub}}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-4 control-label">Birth Date:</label>

                                <div class="col-lg-8">
                                    <p class="form-control" style="border: none">{{profileTalents.birthDate}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">Parents Name</label>

                                <div class="col-lg-8">
                                    <p class="form-control" style="border: none">{{profileTalents.parentsFirstName}} {{profileTalents.parentsLastName}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">Email:</label>

                                <div class="col-lg-8">
                                    <p class="form-control" style="border: none">{{profileTalents.parentsEmail}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">Mobile:</label>

                                <div class="col-lg-8">
                                    <p class="form-control" style="border: none">{{profileTalents.parentsMobile}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">Invited:</label>

                                <div class="col-lg-8">

                                    <p class="form-control" style="border: none">{{profileTalents.invitedToTrial}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">Attended:</label>

                                <div class="col-lg-8">

                                    <p class="form-control" style="border: none">{{profileTalents.attendedTrail}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">Joined:</label>

                                <div class="col-lg-8">
                                    <p class="form-control" style="border: none">{{profileTalents.joinedClub}}</p>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>

            </div>
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Assessments</h5>
                        <div class="ibox-tools">
                            <a @*class="collapse-link"*@>
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a @*class="dropdown-toggle" data-toggle="dropdown" href="#"*@>
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                @*<li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>*@
                            </ul>
                            <a @*class="close-link"*@>
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <div class="ibox-title">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Scout</th>
                                        <th>Location</th>
                                        <th>Notes</th>
                                    </tr>
                                </thead>
                                <tbody id="contentTable1">
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <a href="#" ng-click="check()" class="check-link"><i class="fa {{}}"></i> </a>
                                        </td>
                                        <td></td>

                                    </tr>
                                </tbody>
                            </table>
                            <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Player Attributes</h5>
                        <div class="ibox-tools">
                            <a @*class="collapse-link"*@>
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a @*class="dropdown-toggle" data-toggle="dropdown" href="#"*@>
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                @*<li>
                                        <a href="#">Config option 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Config option 2</a>
                                    </li>*@
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                      <div class="table-responsive">
                        <div class="ibox-title">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Attribute Name</th>
                                    <th>Player</th>
                                    <th>Score</th>
                                    
                                </tr>
                                </thead>
                                <tbody id="contentTable">
                                <tr dir-paginate="newScoutP in items | filter:q | itemsPerPage: coursePerPage" total-items="totalCourses">
                                    <td></td>
                                    <td>
                                        <a href="#" ng-click="check()" class="check-link"><i class="fa {{}}"></i> </a>
                                    </td>
                                    <td></td>
                                 
                                </tr>
                                </tbody>
                            </table>
                            <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                        </div>
                        </div>
                    @*Modal*@
                    <div class="modal inmodal" id="confInvite" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content animated bounceInRight">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h3 class="modal-title text-left">Invite</h3>
                                </div>
                                <div class="modal-body">
                                    <form name="myform" class="form-horizontal" novalidate>
                                      
                                        <div class="form-group">
                                            <label class="col-lg-4 title-modal">Invited to Trial:</label>
                                            <div class="col-lg-7 pull-right">
                                                <input id="toggleInvite" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="default">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-4 title-modal">Attended Trail:</label>
                                            <div class="col-lg-7 pull-right">
                                                <input id="toggleAttendance" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="default">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-4 title-modal">Joined Club:</label>
                                            <div class="col-lg-7 pull-right">
                                                <input id="toggleJoined" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="default">
                                            </div>
                                        </div>
                                        
                                    </form>

                                </div>
                                <div class="modal-footer">
                                    <button ng-click="cancel()" id="closeModal" type="button" class="btn btn-white">Close</button>
                                    <button ng-click="ok(newCurrDet.id)" id="saveModal" type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*Modal End*@
                </div>
            </div>

        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/controllers/TalentIdentificationController.js"></script>
}