@{
    ViewBag.Title = "PMA+";
    Layout = "~/Areas/HeadOfAcademy/Views/Shared/_AdminLayout.cshtml";
}



<div ng-controller="TrainingTeamController" ng-cloak>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Training Team</h2>
            <ol class="breadcrumb">
                <li>
                    <a>Home</a>
                </li>
                <li>
                    <a>Club</a>
                </li>
                <li class="active">
                    <strong>Training Team</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-8">
            <div class="title-action">
                <a class="btn btn-primary" ng-click="openModal()">Add a Team Member</a>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        @*Modal*@
        <div class="modal inmodal" id="addTeamMember" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title text-left">Add a Team Member</h3>
                    </div>
                    <div class="modal-body">
                        <form name="myform" class="form-horizontal" novalidate>
                            <div class="form-group" ng-class="{'has-error':myform.memberFirstName.$invalid && (myform.memberFirstName.$dirty||myform.form_Submitted)}">
                                <label class="col-lg-4 title-modal">First Name:</label>
                                <div class="col-lg-7 pull-right">
                                    <input name="memberFirstName" ng-model="newMember.firstName" required class="form-control" maxlength="50">
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':myform.memberLastName.$invalid && (myform.memberLastName.$dirty||myform.form_Submitted)}">
                                <label class="col-lg-4 title-modal">Last Name:</label>
                                <div class="col-lg-7 pull-right">
                                    <input name="memberLastName" ng-model="newMember.lastName" required class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 title-modal">User Role:</label>
                                <div class="col-lg-7 pull-right">
                                    <select ng-model="selectedRole" ng-options="role.name for role in rolesVisible | orderBy:'name'" class=" form-control" name="account"></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-4 title-modal">Needs to Report:</label>
                                <div class="col-lg-7 pull-right">
                                    <input id="needstoReport" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="default">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-4 title-modal">About Me:</label>
                                <div class="col-lg-7 pull-right">
                                    <textarea ng-model="newMember.aboutMe" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 title-modal">Telephone:</label>
                                <div class="col-lg-7 pull-right">
                                    <input ng-model="newMember.telephone" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 title-modal">Mobile:</label>
                                <div class="col-lg-7 pull-right">
                                    <input ng-model="newMember.mobile" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':myform.memberEmail.$invalid && (myform.memberEmail.$dirty||myform.form_Submitted)}">
                                <label class="col-lg-4 title-modal">Email:</label>
                                <div class="col-lg-7 pull-right">
                                    <input name="memberEmail" ng-model="newMember.email" required class="form-control" />
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':myform.memberPassword.$invalid && (myform.memberPassword.$dirty||myform.form_Submitted)}">
                                <label class="col-lg-4 title-modal">Password:</label>
                                <div class="col-lg-7 pull-right">
                                    <input name="memberPassword" ng-model="newMember.password" required class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 title-modal">FA Number:</label>
                                <div class="col-lg-7 pull-right">
                                    <input ng-model="newMember.faNumber" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 title-modal">Birth Date:</label>
                                <div class="col-lg-7 pull-right">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#" href="#">
                                            <div class="input-group">
                                                <input type="text" class="form-control" value="{{newMember.birthDate | date:'dd-MM-yyyy' }}"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <datetimepicker data-ng-model="newMember.birthDate" data-datetimepicker-config="{ dropdownSelector: '#dropdown1', startView:'day', minView:'day' }" />
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 title-modal">Profile Picture:</label>
                                <div class="col-lg-7 pull-right">
                                    <input file-model="pic" type="file" accept="image/*" class="pma-fileupload">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 title-modal">Nationality:</label>
                                <div class="col-lg-7 pull-right">
                                    <input ng-model="newMember.nationality" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 title-modal">Address 1:</label>
                                <div class="col-lg-7 pull-right">
                                    <input ng-model="newMember.address1" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 title-modal">Address 2:</label>
                                <div class="col-lg-7 pull-right">
                                    <input ng-model="newMember.address2" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 title-modal">Address 3:</label>
                                <div class="col-lg-7 pull-right">
                                    <input ng-model="newMember.address3" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 title-modal">Town City:</label>
                                <div class="col-lg-7 pull-right">
                                    <input ng-model="newMember.townCity" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 title-modal">Post Code:</label>
                                <div class="col-lg-7 pull-right">
                                    <input ng-model="newMember.postcode" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 title-modal">CRB\DBS Expiry:</label>
                                <div class="col-lg-7 pull-right">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                                            <div class="input-group">
                                                <input type="text" class="form-control" value="{{newMember.crbDbsExpiry | date:'dd-MM-yyyy' }}"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <datetimepicker data-ng-model="newMember.crbDbsExpiry" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', startView:'day', minView:'day' }" />
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 title-modal">First Aid Expiry:</label>
                                <div class="col-lg-7 pull-right">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown" data-target="#" href="#">
                                            <div class="input-group">
                                                <input type="text" class="form-control" value="{{newMember.firstAidExpiry | date:'dd-MM-yyyy' }}"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <datetimepicker data-ng-model="newMember.firstAidExpiry" data-datetimepicker-config="{ dropdownSelector: '#dropdown3', startView:'day', minView:'day' }" />
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="delete(newMember.id)" id="deleteConf" type="button" class="btn btn-white pull-left">Delete</button>
                        <button ng-click="cancel()" id="closeModal" type="button" class="btn btn-white">Close</button>
                        <button ng-click="send(newMember.id)" id="saveModal" type="button" ng-disabled="laddaLoading" class="ladda-button btn btn-primary" ladda-button="loginLoading" data-style="expand-right" data-size="s" style="background-color:@ViewBag.them;">
                            <span class="ladda-label" style="font-size: 14px;">Save changes</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        @*Modal End*@
        @*Contacts*@      
        <div class="row wrapper-content" style="padding: 0px 15px 0px 5px;">
            <div class=" col-lg-4" ng-repeat="item in items">
                <div class="hpanel hgreen contact-panel">

                    <div class="panel-body " onmouseenter="inside(this)" onmouseleave="out(this)">
                        <div style="width: 67px; height: 67px; position: relative; overflow: hidden; margin: inherit; border-radius: 50px; " class="img-circle">
                            <img alt="logo" class="img-circle desaturate" ng-src="/api/File/ProfilePicture/{{item.profilePicture}}/{{item.id}}" style-parent />                           
                        </div>
                        <br />
                        <h3 style="font-family: 'Open Sans'; font-weight: 400; font-size: 24px; color: rgb(163, 150, 150);">{{item.name}}</h3>
                       
                        <p style="font-family: 'Open Sans'; font-weight:800;">{{roles[item.role].name}}</p>
                        <br />
                        {{item.birthDay | date:'dd.MM.yyyy'}} - {{item.age}} years old.
                        <p>{{item.aboutMe}}</p>

                    </div>
                    <div class="panel-footer contact-footer">
                        <div class="row">
                            <div class="col-md-4 border-right"> <div class="contact-stat"><span>LOGIN:</span> <strong style="font-size: 10px">{{item.lastLogin | date:'dd.MM.yyyy'}}</strong></div> </div>
                            <div class="col-md-4 border-right"> <div class="contact-stat"><span>CRB\DBS: </span> <strong style="font-size: 10px">  {{item.crbDbsExpiry | date:'dd.MM.yyyy'}}</strong></div> </div>
                            <div class="col-md-4 border-right"> <div class="contact-stat"><span>FIRST AID: </span> <strong style="font-size: 10px"> {{item.firstAidExpiry | date:'dd.MM.yyyy'}}</strong></div> </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
            @*Contacts End*@
        </div>
</div>

<style>
    img.desaturate {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    .animated-panel {
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    .hpanel > .panel-footer {
        color: inherit;
        border: 1px solid #e4e5e7;
        border-top: none;
        font-size: 90%;
        background: #f7f9fa;
    }
    .contact-stat span {
        font-size: 10px;
        font-weight: 500;
        display: block;
        color: #9d9fa2;
        text-transform: uppercase;
    }

    .contact-stat {
        padding: 8px 0px;
        text-align: center;
    }
    .hpanel > .panel-heading {
        color: inherit;
        font-weight: 600;
        padding: 10px 4px;
        transition: all .3s;
        border: 1px solid transparent;
    }

    .hpanel .hbuilt.panel-heading {
        border-bottom: none;
    }

    .hpanel > .panel-footer {
        color: inherit;
        border: 1px solid #e4e5e7;
        border-top: none;
        font-size: 90%;
        background: #f7f9fa;
    }

    .hpanel.panel-collapse > .panel-heading, .hpanel .hbuilt {
        background: #fff;
        border-color: #e4e5e7;
        border: 1px solid #e4e5e7;
        padding: 10px 10px;
        border-radius: 2px;
    }

    .hpanel .panel-body {
        background: #fff;
        border: 1px solid #e4e5e7;
        border-radius: 2px;
        padding: 20px;
        position: relative;
    }

    .panel-collapse .panel-body {
        border: none;
    }

    .hpanel {
        background-color: none;
        border: none;
        box-shadow: none;
        margin-bottom: 25px;
    }

    .panel-tools {
        display: inline-block;
        float: right;
        margin-top: 0;
        padding: 0;
        position: relative;
    }

    .hpanel .alert {
        margin-bottom: 0;
        border-radius: 0;
        border: 1px solid #e4e5e7;
        border-bottom: none;
    }

    .panel-tools a {
        margin-left: 5px;
        color: #9d9fa2;
        cursor: pointer;
    }

  

    .hpanel.hblue .panel-body {
        border-top: 2px solid #3498db;
    }

    .hpanel.hyellow .panel-body {
        border-top: 2px solid #ffb606;
    }

    .hpanel.hviolet .panel-body {
        border-top: 2px solid #9b59b6;
    }

    .hpanel.horange .panel-body {
        border-top: 2px solid #e67e22;
    }

    .hpanel.hred .panel-body {
        border-top: 2px solid #e74c3c;
    }

    .hpanel.hreddeep .panel-body {
        border-top: 2px solid #c0392b;
    }

    .hpanel.hnavyblue .panel-body {
        border-top: 2px solid #34495e;
    }

    .hpanel.hbggreen .panel-body {
        background: #62cb31;
        color: #fff;
        border: none;
    }

    .hpanel.hbgblue .panel-body {
        background: #3498db;
        color: #fff;
        border: none;
    }

    .hpanel.hbgyellow .panel-body {
        background: #ffb606;
        color: #fff;
        border: none;
    }

    .hpanel.hbgviolet .panel-body {
        background: #9b59b6;
        color: #fff;
        border: none;
    }

    .hpanel.hbgorange .panel-body {
        background: #e67e22;
        color: #fff;
        border: none;
    }

    .hpanel.hbgred .panel-body {
        background: #e74c3c;
        color: #fff;
        border: none;
    }

    .hpanel.hbgreddeep .panel-body {
        background: #c0392b;
        color: #fff;
        border: none;
    }

    .hpanel.hbgnavyblue .panel-body {
        background: #34495e;
        color: #fff;
        border: none;
    }

    .panel-group .panel-heading {
        background-color: #f7f9fa;
    }

    .small-header .hpanel {
        margin-bottom: 0;
    }
    .font-bold {
        font-size: 13px;
        font-weight: 600;
    }

    a.dropdown-toggle {
        color: #66696B;
        text-decoration: none;
    }

    img.prifile {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }

    img.landscape {
        height: 100%;
        width: auto;
    }

    img.portrait {
        width: 100%;
        height: auto;
    }
</style>
<script>

    function inside(elem) {

        $(elem).addClass("animated pulse");

        setTimeout(function () {
            $(elem).removeClass("animated pulse");
        }, 2000);
    }



</script>