<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0; @Html.IsSelected(controller: "Home", action: "Dashbord")background: #f4f6fa;">
        <div class="navbar-header">
            <a ng-click="navExpand()" id="mini" class="minimalize-styl-2 btn btn-primary " style="margin-left: 15px;" href="#"><i class="fa fa-bars"></i> </a>
            <span style="float: right; margin-top: 20px;" class="m-r-sm text-muted welcome-message">Good @PmaPlus.Tools.TimeUtils.GetGreetingTime() <b>Club Administrator</b></span>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message">Welcome to PMA+</span>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope"></i>
                </a>
            </li>
            <li class="dropdown" ng-controller="ToDoNotifyController">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell"></i>
                    <span ng-if="itemCount > 0" class="label label-danger" style="border-radius: 100%;">{{itemCount}}</span>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li ng-repeat="item in items">
                        <a>
                            <div>
                                <i class="fa fa-bell"></i> {{item.completionDateTime | date : 'dd-MM-yyyy HH:mm'}}
                            </div>
                            <div>
                                <strong>{{item.title}}</strong>
                                <br/>
                                {{item.note}}
                            </div>
                        </a>
                        <div class="divider"></div>
                    </li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("LockScreen", "Account", new {area = ""})"><i class="fa fa-power-off"></i></a>
            </li>
            <li>
                <a href="@Url.Action("LogOff", "Account", new {area = ""})">
                    Logout
                </a>
            </li>
        </ul>
    </nav>
</div>