@{
    ViewBag.Title = "PMA+";
    Layout = "~/Areas/Coach/Views/Shared/_AdminLayout.cshtml";
}

<div ng-controller="TeamsController" ng-cloak>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Teams</h2>
            <ol class="breadcrumb">
                <li>
                    <a>Home</a>
                </li>
                <li class="active">
                    <strong>Teams</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-8">
            <div class="title-action">
               
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Teams</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user"></ul>
                            <a>
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                       
                      
                        <div class="row">
                            <div class="col-sm-9 m-b-xs">
                                <form class="form-horizontal">
                                    <div class=" form-group" style="margin-left: 0px;">
                                        <div data-toggle="buttons" class="btn-group">
                                            <label ng-click="itemsPerPage = 10" class="btn btn-sm btn-white"> <input type="radio" id="option1" name="options"> 10 </label>
                                            <label ng-click="itemsPerPage = 20" class="btn btn-sm btn-white active"> <input type="radio" id="option2" name="options"> 20 </label>
                                            <label ng-click="itemsPerPage = 30" class="btn btn-sm btn-white"> <input type="radio" id="option3" name="options"> 30 </label>
                                        </div>
                                        <div class="btn-group">
                                            <label onclick=" $('.table').tableExport({ type: 'csv', escape: 'false' }); " class="btn btn-sm btn-white">
                                                CSV
                                            </label>
                                            <label onclick=" $('.table').tableExport({ type: 'excel', escape: 'false' }); " class="btn btn-sm btn-white">
                                                Excel
                                            </label>
                                            <label onclick=" $('.table').tableExport({ type: 'pdf', escape: 'false' }); " class="btn btn-sm btn-white">
                                                PDF
                                            </label>
                                            <label onclick=" print($('.table')) " class="btn btn-sm btn-white">
                                                Print
                                            </label>
                                        </div>
                                    </div>
                                </form>

                            </div>

                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input ng-model="q" type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="text-align:left">Team Name</th>
                                        <th style="text-align:left">Curriculums</th>
                                        <th style="text-align:left">Progress Bar</th>
                                        <th>Progress %</th>
                                        <th>Coaches</th>
                                        <th>Players</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="contentTable">
                                    <tr dir-paginate="team in items | filter:q | itemsPerPage: itemsPerPage" total-items="totalCourses">
                                        <td style="text-align:left">{{team.name}}</td>
                                        <td style="text-align:left">{{team.curriculumName}}</td>
                                        <td style="text-align:left">
                                            <div class="progress progress-mini">
                                                <div ng-style="{ 'width': team.progress + '%' }" class="progress-bar"></div>
                                            </div>
                                        </td>
                                        <td>{{team.progress | number:1}}%</td>
                                        <td>{{team.coachesCount}}</td>
                                        <td>{{team.playersCount}}</td>
                                        <td>
                                            <a ng-href="PlayersTable/{{team.id}}" class="fa fa-graduation-cap" style="cursor: pointer;"></a>
                                           
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .form-group {
        margin-bottom: 5px;
    }

    .m-b {
        margin-bottom: 0px;
    }
</style>


