
@{
    ViewBag.Title = "PMA+";
    Layout = "~/Areas/ClubAdmin/Views/Shared/_AdminLayout.cshtml";
}

<div ng-controller="ClubDiaryController">

    <div class="row wrapper border-bottom white-bg page-heading ">
        <div class="col-sm-4">
            <h2>Diary</h2>
            <ol class="breadcrumb">
                <li>
                    <a>Home</a>
                </li>
                <li class="active">
                    <strong>Diary</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-8">
            <div class="title-action">
                <a class="btn btn-primary" ng-click="open()">Add an Event</a>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper-content">
        <div class="col-md-4" style="padding: 0px 5px 0px 15px;">
            
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Diary Events</h5>
                    <div class="ibox-tools">
                        <a @*class="collapse-link"*@>
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a @*class="dropdown-toggle" data-toggle="dropdown" href="#*@>
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            @*<li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>*@
                        </ul>
                        <a @*class="close-link"*@>
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content inspinia-timeline" ng-model="cols" ng-change="colsChanged()">
                    <div class="timeline-item" ng-repeat="Evenote in actual track by $index">
                        <div class="row">
                            <div class="col-xs-3 date">

                                <i class="fa fa-briefcase"></i>
                                {{Evenote.start | date:'HH:mm'}}
                                
                            </div>
                            <div class="col-xs-7 content no-top-border">
                                <p class="m-b-xs">
                                    <strong>{{Evenote.title}}</strong>
                                </p>
                                <p>
                                    {{Evenote.note}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-8" style="padding: 0px 15px 0px 5px;">
                <div class="ibox float-e-margins">
                    <div class="ibox-title ">
                        <h5>Calendar </h5>
                        <div class="ibox-tools">
                            <a @*class="collapse-link"*@>
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a @*class="dropdown-toggle" data-toggle="dropdown"*@ href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                @*<li>
                                    <a href="#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#">Config option 2</a>
                                </li>*@
                            </ul>
                            <a @*class="close-link"*@>
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <div class="modal inmodal" id="addDiaryModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content animated bounceInRight">
                                    <div class="modal-header">
                                        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h3 class="modal-title text-left">Add</h3>
                                    </div>
                                    <div class="modal-body">
                                        <form name="myform" class="form-horizontal" novalidate>
                                            <div class="form-group" ng-class="{'has-error':myform.eventTitle.$invalid && (myform.eventTitle.$dirty||myform.form_Submitted)}">
                                                <label class="col-lg-4 title-modal">Title:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input name="eventTitle" ng-model="newEvent.title" required class="form-control" maxlength="50">
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error':myform.eventNote.$invalid && (myform.eventNote.$dirty||myform.form_Submitted)}">
                                                <label class="col-lg-4 title-modal">Note:</label>
                                                <div class="col-lg-7 pull-right">
                                                <textarea name="eventNote" ng-model="newEvent.note" required class="form-control"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error':myform.eventStart.$invalid && (myform.eventStart.$dirty||myform.form_Submitted)}">
                                                <label class="col-lg-4 title-modal">Start:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <div class="dropdown">
                                                        <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#" href="#">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" value="{{newEvent.start | date:'dd-MM-yyyy HH:mm':'UTC' }}"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                            </div>
                                                        </a>
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                            <datetimepicker required  name="eventStart" data-ng-model="newEvent.start" data-datetimepicker-config="{ dropdownSelector: '#dropdown1', startView:'day' }" />
                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error':myform.eventEnd.$invalid && (myform.eventEnd.$dirty||myform.form_Submitted)}">
                                                <label class="col-lg-4 title-modal">End:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <div class="dropdown">
                                                        <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" value="{{newEvent.end | date:'dd-MM-yyyy HH:mm':'UTC' }}"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                            </div>
                                                        </a>
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                            <datetimepicker required  name="eventEnd" data-ng-model="newEvent.end" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', startView:'day' }" />
                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-lg-4 title-modal">Attendee Types:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <ui-select multiple ng-model="help.helpAttend" ng-disabled="disabled" theme="bootstrap">
                                                        <ui-select-match placeholder="Select Team...">{{$item.name}}</ui-select-match>
                                                        <ui-select-choices repeat="attendeeType in attendeeTypes">
                                                            <div ng-bind-html="attendeeType.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4 title-modal">Specific Persons:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <ui-select multiple ng-model="help.helpSpecify" ng-disabled="disabled" theme="bootstrap">
                                                        <ui-select-match placeholder="Select Team...">{{$item.name}}</ui-select-match>
                                                        <ui-select-choices repeat="specificPerson in specificPersons">
                                                            <div ng-bind-html="specificPerson.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button ng-click="delete()" id="deleteConf" type="button" class="btn btn-white pull-left">Delete</button>
                                        <button ng-click="cancel()" id="closeModal" type="button" class="btn btn-white">Close</button>
                                        <button ng-click="ok()" id="saveModal" type="button" ng-disabled="laddaLoading" class="ladda-button btn btn-primary" ladda-button="loginLoading" data-style="expand-right" data-size="s" style="background-color: @ViewBag.them;">
                                        <span class="ladda-label" style="font-size: 14px;">Save changes</span>
                                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="calendar" class="fc fc-ltr fc-unthemed">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    
    
    
    $(document).ready(function () {

        // page is now ready, initialize the calendar...

        $('#calendar').fullCalendar({
            
            // put your options and callbacks here
        });
    });
</script>

<style>
    .skin-1 .wrapper-content {
        padding: 30px 0px;
}
</style>
