
@{
    ViewBag.Title = "PMA+";
    Layout = "~/Areas/ClubAdmin/Views/Shared/_AdminLayout.cshtml";
}

<div ng-controller="CurrDetailsController">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Curriculums</h2>
            <ol class="breadcrumb">
                <li>
                    <a>Home</a>
                </li>
                <li>
                    <a>Curriculum</a>
                </li>
                <li>
                    <a>Curriculums</a>
                </li>
                <li class="active">
                    <strong>Details</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-8">
            <div class="title-action">
                <a class="btn btn-primary" ng-click="open()">Add Detail</a>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Curriculums for</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user"></ul>
                            <a>
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        @*Modal*@
                        <div class="modal inmodal" id="addCurrDetalModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content animated bounceInRight">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h3 class="modal-title text-left">{{modalTitle}}</h3>
                                    </div>
                                    <div class="modal-body">
                                        <form name="myform" class="form-horizontal" novalidate>
                                            <div class="form-group">
                                                <label class="col-lg-4 title-modal">Name:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input name="currNumber" ng-model="newCurrDet.curriculumDetailName" required class="form-control" maxlength="50">
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error':myform.currNumber.$invalid && (myform.currNumber.$dirty||myform.form_Submitted)}">
                                                <label class="col-lg-4 title-modal">Number:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input name="currNumber" ng-model="newCurrDet.name" required class="form-control" maxlength="50">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4 title-modal">Coach Picture:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input file-model="picC" type="file" accept="image/*" class="pma-fileupload">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4 title-modal">Coach Description:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input id="inpBlocks" ng-model="newCurrDet.numberOfBlocks" ng-disabled="inpBlocks" class="form-control" maxlength="50">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4 title-modal">Players Friendly Name:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input id="inpWeeks" ng-model="newCurrDet.numberOfWeeks" ng-disabled="inpBlocks" class="form-control" maxlength="50">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4 title-modal">Players Friendly Picture:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input file-model="picPF" type="file" accept="image/*" class="pma-fileupload">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4 title-modal">Players Description:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input id="inpSessions" ng-model="newCurrDet.numberOfSessions" ng-disabled="inpBlocks" class="form-control" maxlength="50">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4 title-modal">Scenarios:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <select ng-model="selectedScenario" ng-options="scenario.name for scenario in scenarios | orderBy:'name'" class=" form-control" name="account"></select>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="modal-footer">
                                            <button ng-click="cancel()" id="closeModal" type="button" class="btn btn-white">Close</button>
                                            <button ng-click="ok(newCurrDet.id)" id="saveModal" type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*Modal End*@
                        @*Modal*@
                        <div class="modal inmodal" id="confDelete" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content animated bounceInRight">
                                    <div class="modal-header">

                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h3 class="modal-title">Delete Record?</h3>


                                    </div>
                                    <div class="modal-body">
                                        <h3 class="text-center">Are you sure you wish to delete this record?</h3>
                                    </div>
                                    <div class="modal-footer">
                                        <button ng-click="cancel()" type="button" class="btn btn-white">No</button>
                                        <button ng-click="delete()" type="button" class="btn btn-primary">Yes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*Modal End*@

                        @*Modal*@
                        <div class="modal inmodal" id="photoModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content animated bounceInRight">
                                    <div class="modal-header">

                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h3 class="modal-title">Nutrition Alternatives</h3>
                                    </div>
                                    <div class="modal-body">
                                        <div class="thumbnail">
                                            <img ng-src="/api/file/AlternativeFoods/{{newAlt.badItemPicture}}/{{newAlt.id}}" style="width: auto; float: none !important;" />
                                        </div>
                                        <div class="thumbnail">
                                            <img ng-src="/api/file/AlternativeFoods/{{newAlt.alternativePicture}}/{{newAlt.id}}" style="width: auto;float: none !important;" />
                                        </div>

                                    </div>
                                    <div class="modal-footer">

                                    </div>
                                </div>
                            </div>
                        </div>
                        @*Modal End*@
                        <div class="row">
                            <div class="col-sm-9 m-b-xs">
                                <form class="form-horizontal">
                                    <div class="form-group" style="margin-left: 0px;">
                                        <div class="btn-group">
                                            <label onclick=" $('.table').tableExport({ type: 'csv', escape: 'false' }); " class="btn btn-sm btn-white">
                                                CSV
                                            </label>
                                            <label onclick=" $('.table').tableExport({ type: 'excel', escape: 'false' }); " class="btn btn-sm btn-white">
                                                Excel
                                            </label>
                                            <label onclick=" $('.table').tableExport({ type: 'pdf', escape: 'false' }); " class="btn btn-sm btn-white">
                                                PDF
                                            </label>
                                            <label onclick=" print($('.table')) " class="btn btn-sm btn-white">
                                                Print
                                            </label>
                                        </div>
                                    </div>
                                </form>

                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input ng-model="q" type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Curriculum Name</th>
                                        <th>Name</th>
                                        <th>Number</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="contentTable">
                                    <tr>
                                        <td>{{parentCurr.name}}</td>
                                        <td>{{items.curriculumDetailName}}</td>
                                        <td>{{items.curriculumDetailNumber}}</td>
                                        <td>
                                            <i ng-click="openEdit(items.id)" class="fa fa-cog" style="cursor: pointer;"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

