
@{
    ViewBag.Title = "PMA+";
    Layout = "~/Areas/ClubAdmin/Views/Shared/_AdminLayout.cshtml";
}
<div ng-controller="ClubDocumetsController" ng-cloak>

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Documents</h2>
            <ol class="breadcrumb">
                <li>
                    <a>Home</a>
                </li>
                <li class="active">
                    <strong>Documents</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="file-manager">


                            <input id="logoFile" file-model='uploadFile' type="file" class="doc-fileupload" data-show-preview="false">

                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="col-lg-7"><h5>Folders</h5></div>
                                <div class="col-lg-4" style="padding-right:8px"><a class="pull-right" ng-click="newFolder()"><i class="fa fa-plus-square-o"></i></a></div>
                                </div>

                            <ul class="folder-list" style="padding: 0">
                                <li ng-repeat="folder in folders">
                                    <div class="row">
                                        <div class="col-lg-7"><a ng-click="getFiles(folder.name)"><i class="fa fa-folder"></i> {{folder.name}}</a></div>
                                        <div class="col-lg-4" style="padding-right:0px"><a ng-click="deleteFolder(folder.name)" class="pull-right" href=""><i class="fa fa-trash-o"></i></a></div>
                                    </div>
                                </li>
                                

                            </ul>

                            @*
                                <h5 class="tag-title">Tags</h5>
                                <ul class="tag-list" style="padding: 0">
                                    <li><a href="">Work</a></li>
                                </ul>
                            *@
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="file-box" ng-repeat="file in files">
                            <div class="file">
                                <a target="_self" href="{{ '/api/Documents/' + currentFolder + '/' + file.name}}" download="{{file.name}}">

                                    <span class="corner"></span>
                                    <div class="icon">
                                        <i class="fa fa-file"></i>
                                    </div>
                                    <div class="file-name">
                                        {{file.name | limitTo: 16}}{{file.name.length > 16 ? '...':''}}
                                        <br>
                                        <small>Added: {{file.addDate | date: 'yyyy-MM-dd'}}</small>
                                        <a ng-click="deleteFile(file.name)" class="pull-right" style="color:#3D4D5D"><i class="fa fa-trash-o"></i></a>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    @*Modal*@
    <div class="modal inmodal" id="addFolder" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title text-left">Add Folder</h3>
                </div>
                <div class="modal-body">
                    <form name="myform" class="form-horizontal" novalidate>
                        <div class="form-group" ng-class="{'has-error':myform.fName.$invalid && (myform.fName.$dirty||myform.form_Submitted)}">
                            <label class="col-lg-4 title-modal">Folder Name:</label>
                            <div class="col-lg-7 pull-right">
                                <input name="fName" ng-model="newDir.name" required class="form-control">

                            </div>
                        </div>
                        <div class="form-group" ng-repeat="role in roles" >
                            <label class="col-lg-4 title-modal">{{role.name}}:</label>
                            <div class="col-lg-7 pull-right">
                                <input type="checkbox" checklist-model="newDir.roles" checklist-value="role.id" class="form-control">
                            </div>
                        </div>
                       

                        
                        

                    </form>
                </div>
                <div class="modal-footer">
                    <button ng-click="cancel()" id="closeModal" type="button" class="btn btn-white">Close</button>
                    <button ng-click="ok()" id="saveModal" type="button" ng-disabled="laddaLoading" class="ladda-button btn btn-primary" ladda-button="loginLoading" data-style="expand-right" data-size="s" style="background-color:@ViewBag.them;">
                        <span class="ladda-label" style="font-size: 14px;">Save changes</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    @*Modal End*@
    @*Modal*@
    <div class="modal inmodal" id="confDelete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title">Delete Record?</h3>


                </div>
                <div class="modal-body">
                    <h3 class="text-center">Are you sure you wish to delete this record?</h3>
                </div>
                <div class="modal-footer">
                    <button ng-click="cancel()" type="button" class="btn btn-white">No</button>
                    <button ng-click="delete()" type="button" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>
    @*Modal End*@
</div>
<script>
    $(function () {
        $(".doc-fileupload").fileinput({
            browseClass: "btn btn-primary btn-block",
            browseLabel: "Upload File",
            showCaption: false,
            showRemove: false,
            showUpload: false
        });
    });
</script>
@section scripts{
<script src="~/Scripts/controllers/ClubDocumentsController.js"></script>
}