
@{
    ViewBag.Title = "PMA+";
    Layout = "~/Areas/ClubAdmin/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Match Reports</h2>
            <ol class="breadcrumb">
                <li>
                    <a>Home</a>
                </li>
                <li class="active">
                    <strong>Match Reports</strong>
                </li>
            </ol>
        </div>


    </div>
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Skill</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user"></ul>
                            <a>
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        @*Modal*@
                        <div class="modal inmodal" id="addSkill" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content animated bounceInRight">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h3 class="modal-title text-left">{{modalTitle}}</h3>
                                    </div>
                                    <div class="modal-body">
                                        <form name="myform" class="form-horizontal" novalidate>
                                            <div class="form-group" ng-class="{'has-error':myform.skillName.$invalid && (myform.skillName.$dirty||myform.form_Submitted) }">
                                                <label class="col-lg-4 title-modal">Skill Name:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input name="skillName" ng-model="newSkill.name" class="form-control" required>
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error':myform.skillDuration.$invalid && (myform.skillDuration.$dirty||myform.form_Submitted) }">
                                                <label class="col-lg-4 title-modal">Duration (mins):</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input name="skillDuration" type="number" ng-model="newSkill.duration" class="form-control" required min="1">
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error':myform.skillVideo.$invalid && (myform.skillVideo.$dirty||myform.form_Submitted) }">
                                                <label class="col-lg-4 title-modal">Video Link:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input name="skillVideo" ng-model="newSkill.videoLink" class="form-control" required>
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error':myform.skillDescription.$invalid && (myform.skillDescription.$dirty||myform.form_Submitted) }">
                                                <label class="col-lg-4 title-modal">Description:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <textarea name="skillDescription" ng-model="newSkill.description" class="form-control" required></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error':myform.skillballControll.$invalid && (myform.skillballControll.$dirty||myform.form_Submitted) }">
                                                <label class="col-lg-4 title-modal">Ball Control:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input type="number" name="skillballControll" ng-model="newSkill.ballControll" class="form-control" min="1" max="100" required>
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error':myform.corners.$invalid && (myform.corners.$dirty||myform.form_Submitted) }">
                                                <label class=" col-lg-4 title-modal">Corners:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input type="number" name="corners" ng-model="newSkill.corners" class="form-control" required min="1" max="100">
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error':myform.crossing.$invalid && (myform.crossing.$dirty||myform.form_Submitted)}">
                                                <label class="col-lg-4 title-modal">Crossing:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input type="number" name="crossing" ng-model="newSkill.crossing" class="form-control" required min="1" max="100">
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error':myform.dribbling.$invalid && (myform.dribbling.$dirty||myform.form_Submitted)}">
                                                <label class="col-lg-4 title-modal">Dribbling:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input type="number" name="dribbling" ng-model="newSkill.dribling" class="form-control" required min="1" max="100">
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error':myform.finishing.$invalid && (myform.finishing.$dirty||myform.form_Submitted)}">
                                                <label class="col-lg-4 title-modal">Finishing:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input type="number" name="finishing" ng-model="newSkill.finishing" class="form-control" required min="1" max="100">
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error':myform.firsttoch.$invalid && (myform.firsttoch.$dirty||myform.form_Submitted)}">
                                                <label class="col-lg-4 title-modal">First Touch:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input type="number" name="firsttoch" ng-model="newSkill.firstTouch" class="form-control" required min="1" max="100">
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error':myform.freekick.$invalid && (myform.freekick.$dirty||myform.form_Submitted)}">
                                                <label class="col-lg-4 title-modal">Free Kicks:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input type="number" name="freekick" ng-model="newSkill.freeKicks" class="form-control" required min="1" max="100">
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error':myform.heading.$invalid && (myform.heading.$dirty||myform.form_Submitted)}">
                                                <label class="col-lg-4 title-modal">Heading:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input type="number" name="heading" ng-model="newSkill.heading" class="form-control" required min="1" max="100">
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error':myform.shooting.$invalid && (myform.shooting.$dirty||myform.form_Submitted)}">
                                                <label class="col-lg-4 title-modal">Shooting:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input type="number" name="shooting" ng-model="newSkill.shooting" class="form-control" required min="1" max="100">
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error':myform.throwIns.$invalid && (myform.throwIns.$dirty||myform.form_Submitted)}">
                                                <label class="col-lg-4 title-modal">Throw-Ins:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input type="number" name="throwIns" ng-model="newSkill.throwIns" class="form-control" required min="1" max="100">
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error':myform.marking.$invalid && (myform.marking.$dirty||myform.form_Submitted)}">
                                                <label class="col-lg-4 title-modal">Marking:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input type="number" name="marking" ng-model="newSkill.marking" class="form-control" required min="1" max="100">
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error':myform.passing.$invalid && (myform.passing.$dirty||myform.form_Submitted)}">
                                                <label class="col-lg-4 title-modal">Passing:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input type="number" name="passing" ng-model="newSkill.passing" class="form-control" required min="1" max="100">
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error':myform.penalty.$invalid && (myform.penalty.$dirty||myform.form_Submitted)}">
                                                <label class="col-lg-4 title-modal">Penalty:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input type="number" name="penalty" ng-model="newSkill.penalty" class="form-control" required min="1" max="100">
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error':myform.tacking.$invalid && (myform.tacking.$dirty||myform.form_Submitted)}">
                                                <label class="col-lg-4 title-modal">Tackling:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input type="number" name="tacking" ng-model="newSkill.tacking" class="form-control" required min="1" max="100">
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error':myform.techique.$invalid && (myform.techique.$dirty||myform.form_Submitted)}">
                                                <label class="col-lg-4 title-modal">Technique:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input type="number" name="techique" ng-model="newSkill.technique" class="form-control" required min="1" max="100">
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error':myform.aggression.$invalid && (myform.aggression.$dirty||myform.form_Submitted)}">
                                                <label class="col-lg-4 title-modal">Aggression:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input type="number" name="aggression" ng-model="newSkill.aggression" class="form-control" required min="1" max="100">
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error':myform.anticipation.$invalid && (myform.anticipation.$dirty||myform.form_Submitted)}">
                                                <label class="col-lg-4 title-modal">Anticipation:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input type="number" name="anticipation" ng-model="newSkill.anticipation" class="form-control" required min=" 1" max="100">
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error':myform.bravery.$invalid && (myform.bravery.$dirty||myform.form_Submitted)}">
                                                <label class="col-lg-4 title-modal">Bravery:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input type="number" name="bravery" ng-model="newSkill.bravery" class="form-control" required min=" 1" max="100">
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error':myform.comprosure.$invalid && (myform.comprosure.$dirty||myform.form_Submitted)}">
                                                <label class="col-lg-4 title-modal">Composure:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input type="number" name="comprosure" ng-model="newSkill.composure" class="form-control" required min=" 1" max="100">
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error':myform.concentration.$invalid && (myform.concentration.$dirty||myform.form_Submitted)}">
                                                <label class="col-lg-4 title-modal">Concentration:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input type="number" name="concentration" ng-model="newSkill.concentration" class="form-control" required min=" 1" max="100">
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error':myform.creativity.$invalid && (myform.creativity.$dirty||myform.form_Submitted)}">
                                                <label class="col-lg-4 title-modal">Creativity:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input type="number" name="creativity" ng-model="newSkill.creativity" class="form-control" required min=" 1" max="100">
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error':myform.decisions.$invalid && (myform.decisions.$dirty||myform.form_Submitted)}">
                                                <label class="col-lg-4 title-modal">Decisions:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input type="number" name="decisions" ng-model="newSkill.decisions" class="form-control" required min=" 1" max="100">
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error':myform.determination.$invalid && (myform.determination.$dirty||myform.form_Submitted)}">
                                                <label class="col-lg-4 title-modal">Determination:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input type="number" name="determination" ng-model="newSkill.determination" class="form-control" required min=" 1" max="100">
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error':myform.flair.$invalid && (myform.flair.$dirty||myform.form_Submitted)}">
                                                <label class="col-lg-4 title-modal">Flair:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input type="number" name="flair" ng-model="newSkill.flair" class="form-control" required min=" 1" max="100">
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error':myform.influence.$invalid && (myform.influence.$dirty||myform.form_Submitted)}">
                                                <label class="col-lg-4 title-modal">Influence:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input type="number" name="influence" ng-model="newSkill.influence" class="form-control" required min=" 1" max="100">
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error':myform.offTheBall.$invalid && (myform.offTheBall.$dirty||myform.form_Submitted)}">
                                                <label class="col-lg-4 title-modal">Off the Ball:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input type="number" name="offTheBall" ng-model="newSkill.offTheBall" class="form-control" required min=" 1" max="100">
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error':myform.positioning.$invalid && (myform.positioning.$dirty||myform.form_Submitted)}">
                                                <label class="col-lg-4 title-modal">Positioning:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input type="number" name="positioning" ng-model="newSkill.positioning" class="form-control" required min=" 1" max="100">
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error':myform.teamwork.$invalid && (myform.teamwork.$dirty||myform.form_Submitted)}">
                                                <label class="col-lg-4 title-modal">Teamwork:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input type="number" name="teamwork" ng-model="newSkill.teamwork" class="form-control" required min=" 1" max="100">
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error':myform.goalkeeping.$invalid && (myform.goalkeeping.$dirty||myform.form_Submitted)}">
                                                <label class="col-lg-4 title-modal">Goalkeeping:</label>
                                                <div class="col-lg-7 pull-right">
                                                    <input type="number" name="goalkeeping" ng-model="newSkill.goalkeeping" class="form-control" required min=" 1" max="100">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button ng-click="cancel()" id="closeModal" type="button" class="btn btn-white">Close</button>
                                        <button ng-click="ok(newSkill.id)" id="saveModal" type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*Modal End*@
                        @*Modal*@
                        <div class="modal inmodal" id="confDelete" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content animated bounceInRight">
                                    <div class="modal-header">

                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h3 class="modal-title">Delete Record?</h3>


                                    </div>
                                    <div class="modal-body">
                                        <h3 class="text-center">Are you sure you wish to delete this record?</h3>
                                    </div>
                                    <div class="modal-footer">
                                        <button ng-click="cancel()" type="button" class="btn btn-white">No</button>
                                        <button ng-click="delete()" type="button" class="btn btn-primary">Yes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*Modal End*@

                        @*Modal*@
                        <div class="modal inmodal" id="videoModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content animated bounceInRight">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" onclick="$('#videoModal iframe').attr('src', '')"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h3 class="modal-title">Video</h3>
                                    </div>
                                    <div class="modal-body">
                                        <div style="text-align:center">
                                            <iframe width="480" height="360" frameborder="0" allowfullscreen=""></iframe>
                                        </div>
                                    </div>
                                    <div class="modal-footer">

                                    </div>
                                </div>
                            </div>
                        </div>
                        @*Modal End*@



                        <div class="row">
                            <div class="col-sm-9 m-b-xs">
                                <form class="form-horizontal">
                                    <div class=" form-group" style="margin-left: 0px;">
                                        <div data-toggle="buttons" class="btn-group">
                                            <label ng-click="itemsPerPage = 10" class="btn btn-sm btn-white"> <input type="radio" id="option1" name="options"> 10 </label>
                                            <label ng-click="itemsPerPage = 20" class="btn btn-sm btn-white active"> <input type="radio" id="option2" name="options"> 20 </label>
                                            <label ng-click="itemsPerPage = 30" class="btn btn-sm btn-white"> <input type="radio" id="option3" name="options"> 30 </label>
                                        </div>
                                        <div class="btn-group">
                                            <label onclick=" $('.table').tableExport({ type: 'csv', escape: 'false' }); " class="btn btn-sm btn-white">
                                                CSV
                                            </label>
                                            <label onclick=" $('.table').tableExport({ type: 'excel', escape: 'false' }); " class="btn btn-sm btn-white">
                                                Excel
                                            </label>
                                            <label onclick=" $('.table').tableExport({ type: 'pdf', escape: 'false' }); " class="btn btn-sm btn-white">
                                                PDF
                                            </label>
                                            <label onclick=" print($('.table')) " class="btn btn-sm btn-white">
                                                Print
                                            </label>
                                        </div>
                                    </div>
                                </form>

                            </div>

                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input ng-model="q" type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Won\Lost</th>
                                        <th>Team Name</th>
                                        <th>For (goals)</th>
                                        <th>Away (goals)</th>
                                        <th>Opposition Team</th>
                                        <th>MoM (man of match)</th>
                                        <th>Form</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

