
<div ng-controller="AtendanceController" ng-cloak>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{step.name}}</h5><h5 ng-if="addDate" style="font-weight: 200;"> - Date: {{addDate.time | date:'dd-MM-yyyy'}} Time: {{addDate.time | date:'HH:mm'}} Duration: {{addDate.duration}} </h5>
                    <div class="ibox-tools" style="margin-top: -5px;">
                        <a class="btn btn-primary btn-sm" ng-click="ssesionDetail()">Session Detail</a>
                        <a class=" btn btn-primary btn-sm" ng-disabled="!addDate" ng-click="confAtendOpen()">All Attended</a>
                        <a class="btn btn-primary btn-sm" ng-click="ssesionNotCompletedModal()">Session not completed</a>
                    </div>
                </div>
                <div class="table-responsive">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-9 m-b-xs">

                            </div>
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="text-align:left; padding-left: 26px;">Picture</th>
                                    <th>Player Name</th>
                                    <th>ATT%</th>
                                    <th>WB</th>
                                    <th>CUR</th>
                                    <th>Attendance</th>
                                    <th>Duration</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="item in items | filter:q | itemsPerPage: itemsPerPage" total-items="totalItems">
                                    <td>
                                        <div style="width: 80px; height: 80px; position: relative; overflow: hidden; border-radius: 50%;" class="img-circle pull-left" >
                                            <img class="prifile" ng-src="{{item.picture}}" style-parent/>
                                        </div>
                                    </td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.attPercent}}</td>
                                    <td>{{item.wbPercent}}</td>
                                    <td>{{item.cur}}</td>
                                    <td ><select ng-change="item.attendance != 0 ? item.duration = 0:''" name="attendense" ng-model="item.attendance" ng-options="attend.id as attend.name for attend in attendense" class=" form-control"></select></td>
                                    <td><input type="number" ng-model="item.duration" /></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
           
        </div>
    </div>
    
    
    @*Modal*@
    <div modal="confDetail" close="closeDetails()">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span ng-click="closeDetails()" aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h3 class="modal-title text-left">Session Details</h3>
                </div>
                <div class="modal-body">
                    <form name="myform" class="form-horizontal" novalidate>


                        <div class="form-group" ng-class="{'has-error':myform.eventStart.$invalid && (myform.eventStart.$dirty||myform.form_Submitted)}">
                            <label class="col-lg-4 title-modal">Date:</label>
                            <div class="col-lg-7 pull-right">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="dropdown10" role="button" data-toggle="dropdown" data-target="#" href="#">
                                        <div class="input-group">
                                            <input type="text" class="form-control" value="{{addDate.time | date:'dd-MM-yyyy HH:mm' }}"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker required name="addDate.time" data-ng-model="addDate.time" data-datetimepicker-config="{ dropdownSelector: '#dropdown10', startView:'day'}" />
                                    </ul>
                                </div>

                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error':myform.eventNote.$invalid && (myform.eventNote.$dirty||myform.form_Submitted)}">
                            <label class="col-lg-4 title-modal">Duration:</label>
                            <div class="col-lg-7 pull-right">
                                <input type="number" name="sessionDuration" ng-model="addDate.duration" required class="form-control">
                            </div>
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button ng-click="closeDetails()"  type="button" class="btn btn-white">Close</button>
                    <button ng-click="saveDetails()" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    @*Modal End*@
    

    @*Modal*@
    <div modal="confAtend"  close="cancelAtt()">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span ng-click="cancelAtt()">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title text-left">All Attend</h3>
                </div>
                <div class="modal-body">
                    <h2>Attend all Player?</h2>
                </div>
                <div class="modal-footer">
                    <button ng-click="cancelAtt()" id="closeAtt" type="button" class="btn btn-white">No</button>
                    <button ng-click="okAtt()" id="saveAtt" type="button" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>
    @*Modal End*@
    
    @*Modal*@
    <div modal="notComplSes" close="ssesionnotcompletedcancel">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span ng-click="ssesionNotCompletedCancel()">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title text-left">All Attend</h3>
                </div>
                <div class="modal-body">
                    <h2>Please confirm the session was not completed as this will record zero hours training time against each player</h2>
                </div>
                <div class="modal-footer">
                    <button ng-click="ssesionNotCompletedCancel()" type="button" class="btn btn-white">No</button>
                    <button ng-click="ssesionNotCompleted()" id="saveAtt" type="button" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>
    @*Modal End*@
    

</div>