
<div ng-controller="AtendanceController" ng-cloak>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 ng-if ="">Attendance - Date: {{addDate.time | date:'dd-MM-yyyy'}} Time: {{addDate.time | date:'HH:mm'}} Duration: {{addDate.duration}} </h5>
                    <div class="ibox-tools" style="margin-top: -5px;">
                        <a class=" btn btn-primary btn-sm" ng-click="confAtend()">All Attended</a>
                        <a class="btn btn-primary btn-sm" ng-click="ssesionDetail()">Session Detail</a>
                    </div>
                </div>
                <div class="table-responsive">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-9 m-b-xs">

                            </div>
                        </div>
                        <table class="table tablea table-striped">
                            <thead>
                                <tr>
                                    <th>Picture</th>
                                    <th>Player Name</th>
                                    <th>ATT%</th>
                                    <th>WB</th>
                                    <th>CUR</th>
                                    <th>Attendance</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="item in items | filter:q | itemsPerPage: itemsPerPage" total-items="totalItems">
                                    <td><img class="img-circle" ng-src="{{item.picture}}"></td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.attPercent}}</td>
                                    <td>{{item.wbPercent}}</td>
                                    <td>{{item.cur}}</td>
                                    <td>{{item.attendance}}</td>
                                    <td>
                                        
                                        <a ng-href="" class="fa fa-graduation-cap"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
           
        </div>
    </div>
    @*Modal*@
    <div class="modal inmodal" id="confDetail" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title text-left">Session Details</h3>
                </div>
                <div class="modal-body">
                    <form name="myform" class="form-horizontal" novalidate>


                        <div class="form-group" ng-class="{'has-error':myform.eventStart.$invalid && (myform.eventStart.$dirty||myform.form_Submitted)}">
                            <label class="col-lg-4 title-modal">Date:</label>
                            <div class="col-lg-7 pull-right">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="dropdown10" role="button" data-toggle="dropdown" data-target="#" href="#">
                                        <div class="input-group">
                                            <input type="text" class="form-control" value="{{addDate.time | date:'dd-MM-yyyy HH:mm' }}"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker required name="addDate.time" data-ng-model="addDate.time" data-datetimepicker-config="{ dropdownSelector: '#dropdown10', startView:'day'}" />
                                    </ul>
                                </div>

                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error':myform.eventNote.$invalid && (myform.eventNote.$dirty||myform.form_Submitted)}">
                            <label class="col-lg-4 title-modal">Duration:</label>
                            <div class="col-lg-7 pull-right">
                                <input type="number" name="sessionDuration" ng-model="addDate.duration" required class="form-control">
                            </div>
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button ng-click="closeDetails()" id="closeInvite" type="button" class="btn btn-white">Close</button>
                    <button ng-click="addDetails()" id="saveInvite" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    @*Modal End*@
    @*Modal*@
    <div class="modal inmodal" id="confAtend" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title text-left">All Attend</h3>
                </div>
                <div class="modal-body">
                    <form name="myform" class="form-horizontal" novalidate>

                        <div class="form-group" ng-class="{'has-error':myform.eventStart.$invalid && (myform.eventStart.$dirty||myform.form_Submitted)}">
                            <label class="col-lg-4 title-modal">Date:</label>
                            <div class="col-lg-7 pull-right">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="dropdown10" role="button" data-toggle="dropdown" data-target="#" href="#">
                                        <div class="input-group">
                                            <input type="text" class="form-control" value="{{newNote.addDate | date:'dd-MM-yyyy HH:mm' }}"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker required name="eventStart" data-ng-model="newNote.addDate" data-datetimepicker-config="{ dropdownSelector: '#dropdown10', startView:'day'}" />
                                    </ul>
                                </div>

                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error':myform.eventNote.$invalid && (myform.eventNote.$dirty||myform.form_Submitted)}">
                            <label class="col-lg-4 title-modal">Duration:</label>
                            <div class="col-lg-7 pull-right">
                                <input type="number" name="sessionDuration" ng-model="newNote.note" required class="form-control">
                            </div>
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button ng-click="c()" id="closeInvite" type="button" class="btn btn-white">Close</button>
                    <button ng-click="o()" id="saveInvite" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    @*Modal End*@
</div>