<div ng-controller="JustSessionController">
    <div class="inbox-content">
        <img alt="logo" class="img-circle desaturate" ng-src="/api/File/ProfilePicture/{{}}/{{}}" />
    </div>
</div>


@section scripts{
    
}