<div ng-controller="CurrRatingController" ng-cloak>
    
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{step.name}}</h5>
                    <div class="ibox-tools" style="margin-top: -5px;">
                        @*<a class="btn btn-primary btn-sm" ng-click="ssesionNotCompletedModal()">Session not completed</a>*@
                    </div>
                </div>
                <div class="table-responsive">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-9 m-b-xs">
                                
                            </div>
                        </div>
                       
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="text-align:left; padding-left: 26px;">Picture</th>
                                        <th style="text-align:left">Player Name</th>
                                        <th>AtL</th>
                                        <th>AtT</th>
                                        <th>Cur</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="item in items | filter:q | itemsPerPage: itemsPerPage" total-items="totalItems">
                                        <td style="width: 80px;">
                                            <div style="width: 80px; height: 80px; position: relative; overflow: hidden; border-radius: 50%;" class="img-circle pull-left">
                                                <img class="prifile" ng-src="{{item.picture}}" style-parent />
                                            </div>
                                        </td>
                                        <td style="text-align:left">{{item.name}}</td>
                                        <td><select ng-disabled="team.archived" rating-ui name="attendense" ng-model="item.atl" class="form-control" style="width: inherit;"><option>0</option><option ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">{{i}}</option></select></td>
                                        <td><select ng-disabled="team.archived" rating-ui name="attendense" ng-model="item.att" class="form-control" style="width: inherit;"><option>0</option><option ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">{{i}}</option></select></td>
                                        <td><select ng-disabled="team.archived" ng-class="{'warnin-textArea':item.cur == 0 || item.cur == 0 && pressed }" rating-ui name="attendense" ng-model="item.cur" class="form-control" style="width: inherit;"><option ng-repeat="i in [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">{{i}}</option></select></td>
                                    </tr>
                                </tbody>
                            </table>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<style>
    .warnin-textArea {
        border-color: rgba(225, 0, 0, 0.8);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 0, 0.6);
        outline: 0 none;
    }
</style>