<div ng-controller="CurrReportPeriodController" ng-cloak>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Review Period Report</h5>
                    <div class="ibox-tools" style="margin-top: -5px;"></div>
                </div>
                <div class="table-responsive">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-9 m-b-xs"></div>
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Picture</th>
                                    <th>Player Name</th>
                                    <th>Age</th>
                                    <th>AtL</th>
                                    <th>AtT</th>
                                    <th>FRM</th>
                                    <th>INJ</th>
                                    <th>ATT%</th>
                                    <th>WB%</th>
                                    <th>Cur</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="item in items | filter:q | itemsPerPage: itemsPerPage" total-items="totalItems">
                                    <td>
                                        <div style="width: 100px; height: 100px; position: relative; overflow: hidden; border-radius: 50%;" class="img-circle pull-left">
                                            <img class="prifile" ng-src="{{item.picture}}" style-parent />
                                        </div>
                                    </td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.age}}</td>
                                    <td>{{item.atl}}</td>
                                    <td>{{item.att}}</td>
                                    <td>{{item.frm}}</td>
                                    <td>{{item.inj}}</td>
                                    <td>{{item.attPercent}}</td>
                                    <td>{{item.wbPercent}}</td>
                                    <td>{{item.cur}}</td>
                                    <td><a ng-click="addObjective(item)" class="fa fa-graduation-cap"></a></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
    
    
    @*Modal*@
    <div class="modal inmodal" id="objModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <img ng-src="/api/Clubs/logo" alt="Club logo" style="width: 150px; margin-bottom: 15px;" />
                    <h3 class="modal-title">End of Player Review Period</h3>
                    <h4>{{player.name}}</h4>
                    <p>Attendance: {{player.attPercent}} - Match Form: {{player.frm}} - Curriculum Raring: {{player.cur}}</p>
                    <p>Training Time: {{player.trainigTime}} - Playing Time:{{player.plaingTime}}</p>
                </div>
                <div class="modal-body">
                    <form name="myform" class="form-horizontal" novalidate>

                        <div class="form-group">
                            <label class="col-lg-7 title-modal">Predefined Statemant:</label>
                            <div class="col-lg-12">
                                <select class="form-control" ng-model="player.statement" ng-options="statemant.statement as statemant.statement for statemant in statemants "></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-7 title-modal">Personal Statemant:</label>
                            <div class="col-lg-12 ">
                                <textarea ng-model="player.statement" class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-7 title-modal">Pre-Period Objective:</label>
                            <div class="col-lg-12">
                                <textarea ng-model="player.preObjective" class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-7 title-modal">Objective achieved:</label>
                            <div class="col-lg-7 ">
                                <input type="checkbox" ng-model="player.achieved" class="form-control">
                            </div>
                        </div>




                    </form>

                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" type="button" class="btn btn-white">Close</button>
                    <button ng-click="saveObjective()" id="saveInvite" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    @*Modal End*@
    
    
    

</div>

