
@{
    ViewBag.Title = "PMA+";
    Layout = "~/Areas/SysAdmin/Views/Shared/_AdminLayout.cshtml";
}
<div ng-controller="ClubsController">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Club Clients</h2>
        <ol class="breadcrumb">
            <li>
                <a>Home</a>
            </li>
            <li class="active">
                <strong>Club Clients</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
                <a class="btn btn-primary" ng-click="openAdd()">Add a Club</a>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Clubs</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user"></ul>
                        <a>
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" ng-controller="ClubsController">
                    @*Modal*@
                    <div class="modal inmodal" id="addClubModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content animated bounceInRight">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h3 class="modal-title text-left">{{modalTitle}}</h3>
                                </div>
                                <div class="modal-body">
                                    <form name="myform" class="form-horizontal" novalidate >
                                        <div class="form-group " ng-class="{'has-error':myform.clubName.$invalid && myform.clubName.$dirty}">
                                            <label class="col-lg-4 title-modal">Club Name:</label>
                                            <div class="col-lg-7 pull-right">
                                                <input name="clubName" ng-model="newClub.name" required class="form-control">

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-4 title-modal">Club Logo:</label>
                                            <div class="col-lg-7 pull-right ">
                                                <input type="file" accept="image/*" ng-model="logo" ng-change="uploadPhoto()" class="pma-fileupload">

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-4 title-modal">Club Status:</label>
                                            <div class="col-lg-7 pull-right">
                                                <select ng-model="selectedStatus" ng-options="status.name for status in statuses" class="form-control m-b" name="account"></select>
                                            </div>
                                        </div>

                                        <div class="form-group" ng-class="{'has-error':myform.adminName.$invalid && myform.adminName.$dirty}">
                                            <label class="col-lg-4 title-modal">Club Administrator Name:</label>
                                            <div class="col-lg-7 pull-right">
                                                <input name="adminName" ng-model="newClub.clubAdminName" required class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-4 title-modal">ClubAdmin Username:</label>
                                            <div class="col-lg-7 pull-right">
                                                <input ng-model="newClub.clubAdminEmail" class="form-control">

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-4 title-modal">ClubAdmin Password:</label>
                                            <div class="col-lg-7 pull-right">
                                                <input ng-model="newClub.clubAdminPassword" class="form-control">

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-4 title-modal">Club Background:</label>
                                            <div class="col-lg-7 pull-right">
                                                <input type="file" class="pma-fileupload" multiple="false">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-4 title-modal">Established:</label>
                                            <div class="col-lg-7 pull-right">
                                                <input ng-model="newClub.established" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-4 title-modal">Club Telephone:</label>
                                            <div class="col-lg-7 pull-right">
                                                <input ng-model="newClub.telephone" class="form-control" maxlength="12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-4 title-modal">Club Mobile:</label>
                                            <div class="col-lg-7 pull-right">
                                                <input ng-model="newClub.mobile" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-4 title-modal">Address 1:</label>
                                            <div class="col-lg-7 pull-right">
                                                <input ng-model="newClub.address1" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-4 title-modal">Address 2:</label>
                                            <div class="col-lg-7 pull-right">
                                                <input ng-model="newClub.address2" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-4 title-modal">Address 3:</label>
                                            <div class="col-lg-7 pull-right">
                                                <input ng-model="newClub.address3" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-4 title-modal">Town\City:</label>
                                            <div class="col-lg-7 pull-right">
                                                <input ng-model="newClub.townCity" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-4 title-modal">Post Code:</label>
                                            <div class="col-lg-7 pull-right">
                                                <input ng-model="newClub.postCode" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-4 title-modal">Chairman:</label>
                                            <div class="col-lg-7 pull-right">
                                                <input ng-model="newClub.chairman" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-4 title-modal">Chairman Email:</label>
                                            <div class="col-lg-7 pull-right">
                                                <input ng-model="newClub.chairmanEmail" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-4 title-modal">Chairman Telephone:</label>
                                            <div class="col-lg-7 pull-right">
                                                <input ng-model="newClub.chairmanTelephone" class="form-control" maxlength="12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-4 title-modal">Club Colour Theme:</label>
                                            <div class="col-lg-7 pull-right">
                                                <input ng-model="newClub.colorTheme" type="text" class="form-control">
                                            </div>
                                        </div>

                                    </form>
                                   
                                </div>
                                <div class="modal-footer">
                                    <button ng-click="cancel()" id="closeModal" type="button" class="btn btn-white">Close</button>
                                        <button ng-click="ok(newClub.id)" id="saveModal" type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*Modal End*@
                    @*Modal*@
                    <div class="modal inmodal" id="confDelete" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content animated bounceInRight">
                                <div class="modal-header">

                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h3 class="modal-title">Delete Record?</h3>


                                </div>
                                <div class="modal-body">
                                    <h3 class="text-center">Are you sure you wish to delete this record?</h3>
                                </div>
                                <div class="modal-footer">
                                    <button ng-click="cancel()" type="button" class="btn btn-white">No</button>
                                    <button ng-click="delete()" type="button" class="btn btn-primary">Yes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*Modal End*@
                    <div class="row">
                        <div class="col-sm-9 m-b-xs">
                            <form class="form-horizontal">
                                <div class="form-group" style="margin-left: 0px;">
                                    <div data-toggle="buttons" class="btn-group">
                                        <label ng-click="clubsPerPage = 10" class="btn btn-sm btn-white"> <input type="radio" id="option1" name="options"> 10 </label>
                                        <label ng-click="clubsPerPage = 20" class="btn btn-sm btn-white active"> <input type="radio" id="option2" name="options"> 20 </label>
                                        <label ng-click="clubsPerPage = 30" class="btn btn-sm btn-white"> <input type="radio" id="option3" name="options"> 30 </label>
                                    </div>
                                    <div class="btn-group">
                                        <label onclick=" $('.table').tableExport({ type: 'csv', escape: 'false' }); " class="btn btn-sm btn-white">
                                            CSV
                                        </label>
                                        <label onclick=" $('.table').tableExport({ type: 'excel', escape: 'false' }); " class="btn btn-sm btn-white">
                                            Excel
                                        </label>
                                        <label onclick=" $('.table').tableExport({ type: 'pdf', escape: 'false' }); " class="btn btn-sm btn-white">
                                            PDF
                                        </label>
                                        <label onclick="print($('.table'))" class="btn btn-sm btn-white">
                                            Print
                                        </label>
                                    </div>
                                </div>
                            </form>               
                            
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input ng-model="q" type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                                </span>
                            </div>
                        </div>
                    </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name </th>
                            <th>TownCity </th>
                            <th>Coaches </th>
                            <th>Players</th>
                            <th>LastLogin </th>
                            <th>Status </th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody id="contentTable">
                        <tr dir-paginate="club in clubs | filter:q | itemsPerPage: clubsPerPage" total-items="totalClubs">
                            <td>{{club.name}}</td>
                            <td>{{club.townCity}}</td>
                            <td>{{club.coaches}}</td>
                            <td>{{club.players}}</td>
                            <td>{{club.lastLogin | date:'dd/MM/yyyy - HH:mm'}}</td>
                            <td>{{statuses[club.status].name}}</td>
                            <td>
                                            <i ng-click="openEdit(club.id)" class="fa fa-cog" style="cursor: pointer;"></i>

                                <i ng-click="openDelete(club.id)" class="fa fa-trash" style="cursor: pointer;"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    $(".dropdown-menu li a").click(function() {
        var selText = $(this).text();
        $('#clubDd').html(selText + ' <span class="caret"></span>');
    });
   
</script>
<style>
    .btn-default {
        background-color: #FFFFFF;
        border-color: #c2c2c2;
        color: #FFFFFF;
    }
    .form-group {
        margin-bottom: 5px;
    }
    .m-b {
        margin-bottom: 0px;
    }
</style>
