@{
    ViewBag.Title = "PMA+";
    Layout = "~/Areas/SysAdmin/Views/Shared/_AdminLayout.cshtml";
}

<div id="main" ng-controller="UserController">
    <div>
        <canvas tc-chartjs chart-type="line" chart-data="data" chart-options="options" height="70"></canvas>
    </div>
    <table class="table">
        <tr ng-repeat="user in users">
            <td>{{user.UserName}}</td>
            <td>{{user.Email}}</td>
        </tr>

    </table>
</div>


