@{
    ViewBag.Title = "PMA+";
    Layout = "~/Areas/SysAdmin/Views/Shared/_AdminLayout.cshtml";
}

<div id="main" ng-controller="UserController">
    <div>
        <canvas tc-chartjs chart-type="line" chart-data="data" chart-options="options" height="70"></canvas>
    </div>
</div>


