
@{
    ViewBag.Title = "FaCourses";
    Layout = "~/Areas/SysAdmin/Views/Shared/_AdminLayout.cshtml";
}






<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>FA Courses</h2>
        <ol class="breadcrumb">
            <li>
                <a>Home</a>
            </li>
            <li class="active">
                <strong>FA Courses</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a class="btn btn-primary" data-toggle="modal" data-target="#addCurseModal">Add a Course</a>
        </div>


    </div>
</div>



<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-lg-12" style="margin-top: 10px;">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>FaCourses</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                        </ul>
                        <a>
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" ng-controller="FaCoursesController">
                    @*Modal*@
                    <div class="modal inmodal" id="addCurseModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content animated bounceInRight">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h3 class="modal-title">Add a Course</h3>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label>Course Name:</label> <input ng-model="newCourse.name" placeholder="Enter name" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Course Duration (Days):</label> <input ng-model="newCourse.duration" placeholder="Enter Duration" class="form-control">
                                    </div>
                                    <div class="form-group"><label>Description</label> <input ng-model="newCourse.description" placeholder="Enter Description" class="form-control">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button ng-click="cancel()" id="closeModal" type="button" class="btn btn-white">Close</button>
                                    <button ng-click="ok()" id="saveModal" type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*Modal End*@
                    @*Modal*@
                    <div class="modal inmodal" id="confDelete" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content animated bounceInRight">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h3 class="modal-title">Delete?</h3>
                                    <button ng-click="cancel()" type="button" class="btn btn-white">No</button>
                                    <button ng-click="delete()" type="button" class="btn btn-primary">Yes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*Modal End*@
                    <div class="row">
                        <div class="col-sm-9 m-b-xs">
                            <div data-toggle="buttons" class="btn-group">
                                <label ng-click="coursePerPage = 10" class="btn btn-sm btn-white active"> <input type="radio" id="option1" name="options"> 10 </label>
                                <label ng-click="coursePerPage = 20" class="btn btn-sm btn-white"> <input type="radio" id="option2" name="options"> 20 </label>
                                <label ng-click="coursePerPage = 30" class="btn btn-sm btn-white"> <input type="radio" id="option3" name="options"> 30 </label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input ng-model="q" type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Name </th>
                                <th>Duration </th>
                                <th>Description </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="contentTable">
                            <tr dir-paginate="course in courses | filter:q | itemsPerPage: coursePerPage" total-items="totalCourses">
                                <td>{{course.name}}</td>
                                <td>{{course.duration}}</td>
                                <td>{{course.description}}</td>
                                <td>
                                    <a ng-click="openDelete(course.id)" class="btn btn-primary">Delete</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>





