
@{
    ViewBag.Title = "FaCourses";
    Layout = "~/Areas/SysAdmin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12" style="margin-top: 10px;">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>FaCourses</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#">Config option 1</a>
                    </li>
                    <li>
                        <a href="#">Config option 2</a>
                    </li>
                </ul>
                <a>
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="table-responsive">
                <table class="table table-striped" ng-controller="FaCoursesController">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name </th>
                            <th>Duration </th>
                            <th>Description </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in faList">
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.duration}}</td>
                            <td>{{item.descriprion}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

