
@{
    ViewBag.Title = "PMA+";
    Layout = "~/Areas/SysAdmin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading" ng-controller="SkillLevelsController">
    <div class="col-sm-4">
        <h2>Skill Videos</h2>
        <ol class="breadcrumb">
            <li>
                <a>Home</a>
            </li>
            <li>
                <a>Skills & Knowledge</a>
            </li>
            <li class="active">
                <strong>Skill Videos</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a class="btn btn-primary" ng-click="backToSkill">Back to Skill Levels</a>
        </div>


    </div>
</div>



