<div ng-controller="AddReportController" ng-cloak>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Match Reports</h2>
            <ol class="breadcrumb">
                <li>
                    <a>Home</a>
                </li>
                <li class="active">
                    <strong>Match Reports</strong>
                </li>
            </ol>
        </div>
        

    </div>
    <div class="wrapper wrapper-content  animated fadeInRight" ng-cloak>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Match Reports</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user"></ul>
                            <a>
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        @*Modal*@
                        <div class="modal inmodal" id="matchReportsResult" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" style="width: 90%; max-width: 700px;">
                                <div class="modal-content animated bounceInRight">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <img ng-src="/api/Clubs/logo" alt="Club logo" style="width: 150px; margin-bottom: 15px;" />
                                        
                                       
                                        <h1 style="margin-top:0px">Match Report</h1>
                                        <h3>{{matchReport.teamName}} vs {{matchReport.oppositionName}}</h3>
                                        Result: <span style="font-size:20px; font-weight:600" ng-style="matchReport.goalsFor > matchReport.goalsAway ? {color:'green'} : (matchReport.goalsFor < matchReport.goalsAway ? {color:'red'} : {color:'yellow'})">{{matchReport.goalsFor > matchReport.goalsAway ? 'WON' : (matchReport.goalsFor < matchReport.goalsAway ? 'LOST' : 'DRAW')}} </span> - Goals For: <span style="font-size:20px; font-weight:600; color:green">{{matchReport.goalsFor}}</span> - Goals Away: <span style="font-size:20px; font-weight:600; color:red">{{matchReport.goalsAway}}</span>

</div>
                                    <div class="modal-body" style="padding: 1px 0px 30px 0px;">
                                        <div style="margin: 30px;">Match Report -{{matchReport.notes}}</div>
                                        <img ng-src="{{matchReport.picture}}" style="width: 100%; height: auto;" />
                                        <div class="table-responsive" style=" margin: 30px;">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Player Name</th>
                                                        <th style="text-align: right">Form</th>
                                                        <th style="text-align: right">GLS</th>
                                                        <th style="text-align: right">SHO</th>
                                                        <th style="text-align: right">SHT</th>
                                                        <th style="text-align: right">ASI</th>
                                                        <th style="text-align: right">PAS</th>
                                                        <th style="text-align: right">TCK</th>
                                                        <th style="text-align: right">SAV</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="player in reportTable">
                                                        <td>{{player.playerName}}</td>
                                                        <td style="text-align: right">{{player.formRating}}</td>
                                                        <td style="text-align: right">{{player.goals}}</td>
                                                        <td style="text-align: right">{{player.shots}}</td>
                                                        <td style="text-align: right">{{player.shotsOnTarget}}</td>
                                                        <td style="text-align: right">{{player.assists}}</td>
                                                        <td style="text-align: right">{{player.passes}}</td>
                                                        <td style="text-align: right">{{player.tackles}}</td>
                                                        <td style="text-align: right">{{player.saves}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button ng-click="closeResult()" id="closeResult" type="button" class="btn btn-white">Close</button>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*Modal End*@
                        <div class="row">
                            <div class="col-sm-9 m-b-xs">
                                <form class="form-horizontal">
                                    <div class=" form-group" style="margin-left: 0px;">
                                        <div data-toggle="buttons" class="btn-group">
                                            <label ng-click="itemsPerPage = 10" class="btn btn-sm btn-white"> <input type="radio" id="option1" name="options"> 10 </label>
                                            <label ng-click="itemsPerPage = 20" class="btn btn-sm btn-white active"> <input type="radio" id="option2" name="options"> 20 </label>
                                            <label ng-click="itemsPerPage = 30" class="btn btn-sm btn-white"> <input type="radio" id="option3" name="options"> 30 </label>
                                        </div>
                                        <div class="btn-group">
                                            <label onclick=" $('.table').tableExport({ type: 'csv', escape: 'false' }); " class="btn btn-sm btn-white">
                                                CSV
                                            </label>
                                            <label onclick=" $('.table').tableExport({ type: 'excel', escape: 'false' }); " class="btn btn-sm btn-white">
                                                Excel
                                            </label>
                                            <label onclick=" $('.table').tableExport({ type: 'pdf', escape: 'false' }); " class="btn btn-sm btn-white">
                                                PDF
                                            </label>
                                            <label onclick=" print($('.table')) " class="btn btn-sm btn-white">
                                                Print
                                            </label>
                                        </div>
                                    </div>
                                </form>

                            </div>

                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input ng-model="q" type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="text-align:left">Won\Lost</th>
                                        <th style="text-align:left">Team Name</th>
                                        <th>For (goals)</th>
                                        <th>Away (goals)</th>
                                        <th style="text-align:left">Opposition Team</th>
                                        <th style="text-align:left">MoM (man of match)</th>
                                        <th>Form</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="item in items | filter:q | itemsPerPage: itemsPerPage" total-items="totalItems">
                                        <td style="text-align:left">{{item.goalsFor > item.goalsAway ? 'WON' : (item.goalsFor < item.goalsAway ? 'LOST' : 'DRAW')}}</td>
                                        <td style="text-align:left">{{item.teamName}}</td>
                                        <td>{{item.goalsFor}}</td>
                                        <td>{{item.goalsAway}}</td>
                                        <td style="text-align:left">{{item.oppositionName}}</td>
                                        <td style="text-align:left">{{item.mom}}</td>
                                        <td>{{item.formation}}</td>
                                        <td>
                                            @*<i ng-click="openEdit(newScoutP.id)" class="fa fa-cog" style="cursor: pointer;"></i>*@

                                            <a ng-click="reportResult(item.id)" class="fa fa-graduation-cap"></a>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


