<div ng-controller="PrivateController">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Communication</h2>
            <ol class="breadcrumb">
                <li>
                    <a>Home</a>
                </li>
                <li class="active">
                    <strong>Communications</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-8">
            <div class="title-action">
                <a class="btn btn-primary" ng-click="sendMessage()">New Message</a>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper-content  animated fadeInRight" ng-cloak>
        @*Modal*@
        <div class="modal inmodal" id="sendMessage" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title text-left">{{modalTitle}}</h3>
                    </div>
                    <div class="modal-body">
                        <form name="myform" class="form-horizontal" novalidate>
                            <div class="form-group" ng-class="{'has-error':myform.courseName.$invalid && (myform.courseName.$dirty||myform.form_Submitted)}">
                                <label class="col-lg-4 title-modal">Recipients:</label>
                                <div class="col-lg-7 pull-right">
                                    <ui-select multiple ng-model="help.recipients" ng-disabled="disabled" theme="bootstrap">
                                        <ui-select-match placeholder="Select Persons...">{{$item.name}}</ui-select-match>
                                        <ui-select-choices repeat="person in persons">
                                            <div ng-bind-html="person.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 title-modal">Message:</label>
                                <div class="col-lg-7 pull-right">
                                    <input ng-model="newMessage.messagePrivate.message" required class="form-control">
                                </div>
                            </div>
                            @*<div class="form-group">
                                <label class="col-lg-4 title-modal">Picture:</label>
                                <div class="col-lg-7 pull-right">
                                    <input file-model="messagePic" name="itempictureName" type="file" class="pma-fileupload">
                                </div>
                            </div>*@
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="cancel()" type="button" class="btn btn-white">Close</button>
                        <button ng-click="ok()" ng-disabled="laddaLoading" type="button" class="ladda-button btn btn-primary" ladda-button="loginLoading" data-style="expand-right" data-size="s" style="background-color: @ViewBag.them;">
                            <span class="ladda-label" style="font-size: 14px;">Save changes</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        @*Modal End*@
        <div class="row">
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Recent</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user"></ul>
                            <a>
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row" style="cursor: pointer; margin-left: 5px;" ng-repeat="recent in recents  | orderObjectBy:updateAt" ng-click="selectGroup(recent)">
                            <div ng-if="recent.users.length < 2" style="width: 50px; height: 50px; position: relative; overflow: hidden; border-radius: 50%; border: solid #ebebed;" class="img-circle pull-left">
                                <img alt="image" class="prifile" ng-src="{{recent.users[0].userAva}}" style-parent />
                            </div>
                            <div ng-if="recent.users.length > 1" style="width: 50px; height: 50px; position: relative; overflow: hidden; border-radius: 50%; border: solid #ebebed;" class="img-circle pull-left">
                                <img alt="image" class="prifile" ng-src="/api/Clubs/logo" style-parent />
                            </div>
                            <div class="col-xs-9" style="margin-top: 15px;">
                                <div class="container-fluid">
                                    <div class="row-fluid">
                                        <div ng-if="recent.users.length > 1">
                                            <strong>Group Message</strong>
                                        </div>
                                        <div ng-if="recent.users.length < 2" ng-repeat="user in recent.users">
                                            <strong>{{user.name}}</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Message</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user"></ul>
                            <a>
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div>
                            <div>
                                <div ng-repeat="groupMsg in groupMessagesList">
                                    <div style="width: 60px; height: 60px; position: relative; overflow: hidden; border-radius: 50%; border: solid #ebebed;" class="img-circle pull-left">
                                        <img alt="image" class="prifile" ng-src="{{groupMsg.userAva}}" style-parent />
                                    </div>
                                    <div>
                                        <small class="pull-right" style="font-size: 12px;" >{{groupMsg.sendAt | date:'HH:mm - dd.MM.yyyy'}}</small>
                                        <strong style="font-size: 14px;">{{groupMsg.userName}}</strong><br>
                                        <small class="text-muted"></small>
                                        <div class="well" style="font-size: 13px; margin-left: 1px;">
                                            {{groupMsg.message}}
                                            <img style="width: 100%;" ng-show="groupMsg.image != null" ng-src="/api/file/MessageWall/{{groupMsg.image}}" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div ng-if="haveGroup" class="row" >
                                @*<div class="col-xs-1">
                                    <button class="btn btn-primary btn-block m"><i class="fa fa-paperclip"></i></button>
                                </div>*@
                                <div class="col-xs-12" style="margin-top: 15px;">
                                    <input ng-model="messageInGroupSend.messagePrivate.message" required class="form-control" ng-enter="sendMessageinGroup()">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    img.prifile {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }

    img.landscape {
        height: 100%;
        width: auto;
    }

    img.portrait {
        width: 100%;
        height: auto;
    }

    html, body{height:100%; margin:0;padding:0}
 
        .container-fluid{
          height:100%;
          display:table;
          width: 100%;
          padding: 0;
        }
 
        .row-fluid {height: 100%; display:table-cell; vertical-align: middle;}
 
 

        .centering {
          float:none;
          margin:0 auto;
        }
</style>
