<div ng-cloak="" ng-controller="UserAvatarController" class="text-center">

    <div style="width:150px; height:150px; position:relative; overflow:hidden; border-radius: 50%; margin: auto;">

        <img ng-src="{{avatar.picture}}" alt="Alternate Text" class="prifile" style-parent />

    </div>


    <h3>{{avatar.name}}</h3>
    <h4>{{avatar.role}}</h4>
</div>
