<div ng-cloak ng-controller="UserAvatarController" class="text-center" style=" margin-bottom: 10px;">

    <div style="width:150px; height:150px; position:relative; overflow:hidden; border-radius: 50%; margin: auto; border: solid grey;">

        <img ng-src="{{avatar.picture}}" alt="Alternate Text" class="prifile" style-parent />

    </div>


    <h3 style="margin-bottom: 2px;">{{avatar.name}}</h3>
    <span>{{avatar.role}}</span>
</div>
