<div class="modal inmodal" id="videoModal" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog" style="width: 980px">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="$('#videoModal iframe').attr('src', '')"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title">Video</h3>
            </div>
            <div class="modal-body">
                <div style="text-align:center">
                    <iframe width="900" height="675" frameborder="0" allowfullscreen=""></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" onclick="$('#videoModal iframe').attr('src', '')" id="closeModal" type="button" class="btn btn-white">Close</button>
            </div>
        </div>
    </div>
</div>
